@model CloudSocietyEntities.SocietyReceipt
@{
    Layout = null;    
}
<!DOCTYPE html>
<html>
<head>
    <title>Print Society Receipt</title>
     <link  rel="icon" href="@Url.Content("~/Content/Images/c1-favicon.gif")" type="image/ico"/>
    <link rel="stylesheet" type="text/css" href="http://cdn.webrupee.com/font" />
</head>
<body onload="javascript:window.print()">
    <table border="0" style="width: 550px; border: thin solid #000000;" align="center">
        <tr>
            <td align="center" colspan="3">
                <div style="font-size: 15px">
                    <u><strong>R E C E I P T</strong></u>
                </div>
                <div align="center" style="font-size: 15px">
                    <strong>@Model.Society.Name .</strong></div>
                <div align="center" style="font-size: 11px">
                    Regd. No. : @Model.Society.RegistrationNo Dated : @String.Format("{0:dd-MMM-yyyy}", Model.Society.RegistrationDate)
                    ,
                    @(Model.Society.TaxRegistrationNo == null ? "" : "Service Tax No. : " + Model.Society.TaxRegistrationNo)</div>
                <div align="center" style="font-size: 13px">
                    @Model.Society.Address , @Model.Society.City - @Model.Society.PIN</div>
            </td>
        </tr>
        <tr>
            <td align="right" colspan="3">
                Receipt No. :&nbsp;&nbsp; @Model.ReceiptNo
            </td>
        </tr>
        <tr>
            <td align="right" colspan="3">
                Receipt Date :&nbsp;&nbsp; @String.Format("{0:dd-MMM-yyyy}", Model.ReceiptDate)
            </td>
        </tr>
        <tr>
            <td colspan="3">
                We received with thanks from @Model.SocietyMember.Member
                <br />
                Flat No. : @Model.SocietyBuildingUnit.SocietyBuilding.Building - @Model.SocietyBuildingUnit.Unit
                the sum of &nbsp;&nbsp;<strong><span class="WebRupee">Rs </span>@Model.Amount</strong>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <strong>In Words :@CommonLib.Financial.ChangeCurrencyToWords.changeCurrencyToWords(Model.Amount)
                </strong>
            </td>
        </tr>
        @if (Model.PayModeCode != "CA")
        {
            <tr>
                <td>
                    Cheque No
                </td>
                <td>
                    Dated
                </td>
                <td>
                    Bank Name
                </td>
            </tr>
            <tr>
                <td>
                    @Model.PayRefNo
                </td>
                <td>
                    @String.Format("{0:dd-MMM-yyyy}", Model.PayRefDate)
                </td>
                <td>
                    &nbsp;
                    @Model.Bank.Name
                </td>
            </tr>
        }
        else
        { <tr>
            <td colspan="3">
                Cash received
            </td>
        </tr>}
        <tr>
            <td colspan="3">
                <div>
                    &nbsp;
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="3" align="right">
                <div>
                    <div>
                        For @Model.Society.Name.ToUpper()
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="3">
                &nbsp;
            </td>
        </tr>
        <tr>
            <td colspan="0">
                Checked By :
            </td>
            <td align="right" colspan="2">
                @Model.Society.Signatory .
            </td>
        </tr>
    </table>
</body>
</html>
