@model CloudSocietyEntities.AcHead
@{
    ViewBag.Title = "Delete Account Head";
    ViewBag.Header = "Account Head";
    bool IsFullAccess = new CloudSociety.Controllers.AppInfoController().IsFullAccess();  
}
<div class="LabelDel">
    Are you sure you want to delete this?
</div>
<br />
@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.Name)
    @Html.ValidationSummary(false, "Following errors occurred while processing your request")
    <fieldset style="width: 500px">
        <legend>Account Head Details</legend>
        <table>
            <tr>
                <td>
                    Name :
                </td>
                <td>
                    @Html.DisplayFor(model => model.Name)
                </td>
            </tr>
            <tr>
                <td>
                    Sub Category :
                </td>
                <td>
                    @Html.DisplayFor(model => model.AcSubCategory.SubCategory)
                </td>
            </tr>
            <tr>
                <td>
                    Sequence :
                </td>
                <td>
                    @Html.DisplayFor(model => model.Sequence)
                </td>
            </tr>
            <tr>
                <td>
                    Nature :
                </td>
                <td>
                    @(Model.Nature == "C" ? "Cash" : (Model.Nature == "B" ? "Bank" : (Model.Nature == "S" ? "Creditor" : (Model.Nature == "D" ? "Debtor" : (Model.Nature == "T" ? "TDS" : (Model.Nature == "F" ? "Year End Closing Transaction" : ""))))))
                </td>
            </tr>
            <tr>
                <td>
                    TDS Category :
                </td>
                <td>
                    @(Model.TDSCategoryID != null ? Model.TDSCategory.Category : "")
                </td>
            </tr>
            <tr>
                <td>
                    TDS Company :
                </td>
                <td>
                    @if (Model.TDSCompany == true)
                    { <text>
                        <img alt="" src="@Url.Content("~/Content/Images/tick-green.png")"  />
                        </text> 
                    }
                    else
                    { 
                        <text>
                        <img alt="" src="@Url.Content("~/Content/Images/Copy of cancel-icon.png")" /></text> 
                    }
                </td>
            </tr>
            <tr>
                <td>
                    PAN :
                </td>
                <td>
                    @Html.DisplayFor(model => model.PAN)
                </td>
            </tr>
            <tr>
                <td>
                    Address :
                </td>
                <td>
                    @Html.DisplayFor(model => model.Address)
                </td>
            </tr>
            <tr>
                <td>
                    City :
                </td>
                <td>
                    @Html.DisplayFor(model => model.City)
                </td>
            </tr>
            <tr>
                <td>
                    PIN :
                </td>
                <td>
                    @Html.DisplayFor(model => model.PIN)
                </td>
            </tr>
            <tr>
                <td>
                    State
                </td>
                <td>
                    @(Model.State != null ? Model.State.Name : "")
                </td>
            </tr>
            @* <tr>
            <td>
                CountryCode
            </td>
            <td>
                @Html.DisplayFor(model => model.CountryCode)
            </td>
        </tr>*@
            <tr>
                <td>
                    Active
                </td>
                <td>
                    @if (Model.Active == true)
                    { <text>
                        <img alt="" src="@Url.Content("~/Content/Images/tick-green.png")"  />
                        </text> 
                    }
                    else
                    { 
                        <text>
                        <img alt="" src="@Url.Content("~/Content/Images/Copy of cancel-icon.png")" /></text> 
                    }
                </td>
            </tr>
            @if (IsFullAccess)
            {
                <tr>
                    <td align="center" colspan="2">
                        <input type="submit" value="Delete" class="buttton" style="width: 45px; height: 23px;" />
                    </td>
                </tr>
            }
        </table>
    </fieldset>
}
<div>
    @*@Html.ActionLink("Back to List", "Index", new { id = ViewBag.SocietySubscriptionID }, new { @class = "EditDelete" })*@
    <a href="@ViewBag.BackUrl" class="EditDelete">Back to List</a>
</div>
