@model CloudSocietyEntities.AcHead
@{
    ViewBag.Title = "Account Head Details";
    ViewBag.Header = "Account Head";
    ViewBag.SocietyNameHeader = ViewBag.SocietyHead;
    Layout = "~/Views/Shared/SocietyLayout.cshtml";
    bool IsFullAccess = new CloudSociety.Controllers.AppInfoController().IsFullAccess();     
}
<br />
<fieldset>
    <legend>Account Head Details</legend>
    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                Name :
            </td>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
        </tr>
        <tr>
            <td>
                Account Sub-Category :
            </td>
            <td>
                @Html.DisplayFor(model => model.AcSubCategory.SubCategory)
            </td>
        </tr>
        <tr>
            <td>
                Sequence :
            </td>
            <td>
                @Html.DisplayFor(model => model.Sequence)
            </td>
        </tr>
        <tr>
            <td>
                Nature :
            </td>
            <td>
                @(Model.Nature == "C" ? "Cash" : (Model.Nature == "B" ? "Bank" : (Model.Nature == "S" ? "Creditor" : (Model.Nature == "D" ? "Debtor" : (Model.Nature == "T" ? "TDS" : "")))))
                @* @Html.DisplayFor(model => model.Nature)*@
            </td>
        </tr>
        <tr>
            <td>
                TDS Category :
            </td>
            <td>
                @Html.DisplayFor(model => model.TDSCategory.Category)
            </td>
        </tr>
        <tr>
            <td>
                TDS Company :
            </td>
            <td>
                @if (Model.TDSCompany == true)
                { 
                    <text>
                    <img src="@Url.Content("~/Content/Images/tick-green.png")"  />
                    </text>
                }
                else
                { 
                    <text>
                    <img src="@Url.Content("~/Content/Images/Copy of cancel-icon.png")" />
                    </text> 
                }
            </td>
        </tr>
        <tr>
            <td>
                PAN :
            </td>
            <td>
                @Html.DisplayFor(model => model.PAN)
            </td>
        </tr>
        <tr>
            <td>
                Address :
            </td>
            <td>
                @Html.DisplayFor(model => model.Address)
            </td>
        </tr>
        <tr>
            <td>
                City :
            </td>
            <td>
                @Html.DisplayFor(model => model.City)
            </td>
        </tr>
        <tr>
            <td>
                PIN :
            </td>
            <td>
                @String.Format("{0:0}", Model.PIN)
            </td>
        </tr>
        <tr>
            <td>
                State :
            </td>
            <td>
                @Html.DisplayFor(model => model.State.Name)
            </td>
        </tr>
        <tr>
            <td>
                Country :
            </td>
            <td>
                @Html.DisplayFor(model => model.Country.Name)
            </td>
        </tr>
        <tr>
            <td>
                Active :
            </td>
            <td>
                @if (Model.Active == true)
                { 
                    <text>
                    <img src="@Url.Content("~/Content/Images/tick-green.png")"  />
                    </text> 
                }
                else
                { 
                    <text>
                    <img src="@Url.Content("~/Content/Images/Copy of cancel-icon.png")" />
                    </text> 
                }
            </td>
        </tr>
    </table>
</fieldset>
<div>
    @if (IsFullAccess)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.AcHeadID, societySubscriptionID = ViewBag.SocietySubscriptionID, backUrl = (string)ViewBag.BackUrl }, new { @class = "EditDelete" })
        <text>|</text>  @*@Html.ActionLink("Back to List", "Index", new { id = ViewBag.SocietySubscriptionID}, new { @class = "EditDelete" })*@
    }
    <a href="@ViewBag.BackUrl" class="EditDelete">Back to List</a>
</div>
