@model CloudSocietyEntities.SocietySubscription
@{
    ViewBag.Title = "Delete Society Subscription";
    ViewBag.Header = "Society Subscription";
    ViewBag.SocietyNameHeader = ViewBag.SocietyHead;
    Layout = "~/Views/Shared/SocietyLayout.cshtml";
}
<div class="LabelDel">
    Are you sure you want to delete this?
</div>
<br />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(false, "Following errors occurred while processing your request")        
    <fieldset style="width: 500px">
        <legend>Society Subscription</legend>
        <table>
            <tr>
                <td>
                    Services :
                </td>
                <td>
                    @Html.DisplayFor(model => model.Services)
                </td>
            </tr>
            <tr>
                <td>
                    Amount :
                </td>
                <td>
                    @Html.DisplayFor(model => model.Amount)
                </td>
            </tr>
            @*<tr>
                <td>
                    SocietyID
                </td>
                <td>
                    @Html.DisplayFor(model => model.SocietyID)
                </td>
            </tr>*@
            <tr>
                <td>
                    Subscription Start :
                </td>
                <td>
                    @String.Format("{0:dd-MMM-yyyy}", Model.SubscriptionStart)
                </td>
            </tr>
            <tr>
                <td>
                    Subscription End :
                </td>
                <td>
                    @String.Format("{0:dd-MMM-yyyy}", Model.SubscriptionEnd)
                </td>
            </tr>
            <tr>
                <td>
                    No Of Members :
                </td>
                <td>
                    @Html.DisplayFor(model => model.NoOfMembers)
                </td>
            </tr>
            <tr>
                <td>
                    No Of Invoiced Members :
                </td>
                <td>
                    @Html.DisplayFor(model => model.NoOfInvoicedMembers)
                </td>
            </tr>
            <tr>
                <td>
                    No Of Additional Members :
                </td>
                <td>
                    @Html.DisplayFor(model => model.NoOfAdditionalMembers)
                </td>
            </tr>
            <tr>
                <td>
                    Invoiced Months :
                </td>
                <td>
                    @Html.DisplayFor(model => model.InvoicedMonths)
                </td>
            </tr>
            <tr>
                <td>
                    Closed :
                </td>
                <td>
                    @if (Model.Closed == true)
                    { <text>
                        <img alt="" src="@Url.Content("~/Content/Images/tick-green.png")"  />
                        </text> }
                    else
                    { 
                        <text>
                        <img alt="" src="@Url.Content("~/Content/Images/Copy of cancel-icon.png")" /></text> 
                    }
                </td>
            </tr>
            <tr>
                <td>
                    Paid Till Date :
                </td>
                <td>
                    @Html.DisplayFor(model => model.PaidTillDate)
                </td>
            </tr>
            <tr>
                <td>
                    Subscribed Months :
                </td>
                <td>
                    @Html.DisplayFor(model => model.SubscribedMonths)
                </td>
            </tr>
            <tr>
                <td>
                    Paid Months :
                </td>
                <td>
                    @Html.DisplayFor(model => model.PaidMonths)
                </td>
            </tr>
            <tr>
                <td align="center" colspan="2">
                    <input type="submit" value="Delete" class="buttton" style="width: 45px; height: 23px;" />
                </td>
            </tr>
        </table>
    </fieldset>   
}
<div>
    @Html.ActionLink("Back to List", "Index", new { id = Model.SocietyID }, new { @class = "EditDelete" })
</div>
