@model IEnumerable<CloudSocietyEntities.SocietyParkingTransfer>
@{
    ViewBag.Title = "Society ParkingT ransfer";
    ViewBag.Header = "Society Parking Transfer";
    ViewBag.SocietyNameHeader = ViewBag.SocietyHead;
    Layout = "~/Views/Shared/SocietyLayout.cshtml";
    var societyParking = (CloudSocietyEntities.SocietyParking)ViewBag.SocietyParking;  
}
<span class="SocName">Parking No : @societyParking.ParkingNo @*@societyParking.ParkingType.Type*@</span>
<br />
<br />
<div class="buttton" style="width: 65px;">
    @Html.ActionLink("Create New", "Create", new { societyParkingID = societyParking.SocietyParkingID, societySubscriptionID = ViewBag.SocietySubscriptionID })</div>
<br />
<table border="0" cellpadding="2" cellspacing="0" class="table">
    @{
        int Count = 1;
    }
    @foreach (var item in Model)
    {
        if (Count == 1)
        {
        <tr>
            <th>
            </th>
            <th>
                Member
            </th>
            @*<th>
            To Member
        </th>*@
            <th>
                Transferred On
            </th>
        </tr>

        }  
        <tr @if ((Count % 2) == 0)
            { <text> class="TableRow" </text> }
            else
            { <text> class="altTableRow" </text>} >
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SocietyParkingTransferID, societySubscriptionID = ViewBag.SocietySubscriptionID }, new { @class = "EditDelete" })
                |
                @Html.ActionLink("Delete", "Delete", new { id = item.SocietyParkingTransferID, societySubscriptionID = ViewBag.SocietySubscriptionID }, new { @class = "EditDelete" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SocietyMember.Member)
            </td>
            @* <td>
            @Html.DisplayFor(modelItem => item.)
        </td>*@
            <td>
                @String.Format("{0:dd-MMM-yyyy}", item.TransferredOn)
            </td>
        </tr>
           Count = Count + 1;
    }
    @if (Count == 1)
    {<tr class="TableRow">
        <td>
            Currently there are no Records
        </td>
    </tr> }
</table>
<br />
<div>
    @Html.ActionLink("Back to Parking List", "Index", "SocietyParking", new { id = ViewBag.SocietySubscriptionID }, new { @class = "EditDelete" })
</div>
