@model IEnumerable<CloudSocietyEntities.Tariff>

@{
    ViewBag.Title = "Tariff";
    ViewBag.Header = "Tariff List";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="buttton" style="width: 65px;">
    @Html.ActionLink("Create New", "Create")</div>
<br />

<table border="0" cellpadding="2" cellspacing="0" class="table">
    @{
        int Count = 1;
    }
    @foreach (var item in Model)
    {
        if (Count == 1)
        {
        <tr>
            <th>
            </th>
            <th>
                Name
            </th>
            <th>
                w.e.f.
            </th>
            <th>
                End Date
            </th>
        </tr>
        }
        <tr @if((Count % 2) == 0){ <text> class="TableRow" </text> } else { <text> class="altTableRow" </text>} >
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TariffID }, new { @class = "EditDelete" }) 
                |
                @Html.ActionLink("Delete", "Delete", new { id = item.TariffID }, new { @class = "EditDelete" })
                |
                @Html.ActionLink("Rates", "Index", "TariffRate", new { parentid = item.TariffID }, new { @class = "EditDelete" })
                
              @* |
                @Html.ActionLink("Details", "Details", new { id = item.TariffID }, new { @class = "EditDelete" })*@
            </td>
            <td width="200px">
                @item.Name
            </td>
            <td width="80px">
                @String.Format("{0:dd-MMM-yyyy}", item.wef)
            </td>
            <td width="80px">
                @String.Format("{0:dd-MMM-yyyy}", item.uEndDate)
            </td>
        </tr>
        Count = Count + 1;
    }
    @if (Count == 1)
    {<tr class="TableRow"><td>Currently there are no Records</td></tr> }
</table>
