@model CloudSocietyEntities.SocietyInvestment
@{
    ViewBag.Title = "Edit Society Investment";
    ViewBag.Header = " Society Investment";
    ViewBag.SocietyNameHeader = ViewBag.SocietyHead;
    Layout = "~/Views/Shared/SocietyLayout.cshtml";
    bool IsFullAccess = new CloudSociety.Controllers.AppInfoController().IsFullAccess();  
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@*==== Scripts to be added for AJAX calendar START ====*@
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/MicrosoftAjax.debug.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.ExtenderBase.BaseScripts.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.Common.Common.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.Common.DateTime.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.Animation.Animations.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.PopupExtender.PopupBehavior.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.Animation.AnimationBehavior.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.Common.Threading.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.Compat.Timer.Timer.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.Calendar.CalendarBehavior.js")"
        type="text/javascript"></script>
<script type="text/javascript">
    Sys.Application.add_init(appInit);
    function appInit() {
        $create(AjaxControlToolkit.CalendarBehavior, { format: "dd-MMM-yyyy" }, null, null, $get('DocumentDate'));
        $create(AjaxControlToolkit.CalendarBehavior, { format: "dd-MMM-yyyy" }, null, null, $get('MaturityDate'));
        $create(AjaxControlToolkit.CalendarBehavior, { format: "dd-MMM-yyyy" }, null, null, $get('ChequeDate'));
        $create(AjaxControlToolkit.CalendarBehavior, { format: "dd-MMM-yyyy" }, null, null, $get('ClosureDate'));
        $create(AjaxControlToolkit.CalendarBehavior, { format: "dd-MMM-yyyy" }, null, null, $get('RealizationDate'));
    } 
</script>
@*==== END ====*@
@using (Html.BeginForm())
{
    @Html.ValidationSummary(false, "Following errors occurred while processing your request")
    <fieldset style="width: 500px">
        <legend>Edit Investment</legend>
        <br />
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    Bank :
                </td>
                <td>
                    @Html.DropDownList("BankID", new SelectList(ViewBag.BankList as System.Collections.IEnumerable, "BankID", "Name"), "<- Select Bank ->")
                    <span class="editor-field">@Html.ValidationMessageFor(model => model.BankID)</span>
                </td>
            </tr>
            <tr>
                <td>
                    Other Bank :
                </td>
                <td>
                    @Html.TextBox("Bank", Model.Bank, new { @class = "shortWidth" })@*@Html.EditorFor(model => model.Bank)*@
                    <span class="editor-field">@Html.ValidationMessageFor(model => model.Bank)</span>
                </td>
            </tr>
            <tr>
                <td>
                    Document No :
                </td>
                <td>
                    @Html.TextBox("DocumentNo", Model.DocumentNo, new { @class = "shortWidth" })@*@Html.EditorFor(model => model.DocumentNo)*@
                    <span class="editor-field">@Html.ValidationMessageFor(model => model.DocumentNo)</span>
                </td>
            </tr>
            <tr>
                <td>
                    Document Date :
                </td>
                <td>
                    @Html.TextBox("DocumentDate", String.Format("{0:dd-MMM-yyyy}", Model.DocumentDate), new { @class = "shortWidth" })
                    <span class="editor-field">@Html.ValidationMessageFor(model => model.DocumentDate)</span>
                </td>
            </tr>
            <tr>
                <td>
                    Maturity Date :
                </td>
                <td>
                    @Html.TextBox("MaturityDate", String.Format("{0:dd-MMM-yyyy}", Model.MaturityDate), new { @class = "shortWidth" })
                    <span class="editor-field">@Html.ValidationMessageFor(model => model.MaturityDate)</span>
                </td>
            </tr>
            <tr>
                <td>
                    Amount :
                </td>
                <td>
                    @Html.TextBox("Amount", Model.Amount, new { @class = "shortWidth" })@*@Html.EditorFor(model => model.Amount)*@
                    <span class="editor-field">@Html.ValidationMessageFor(model => model.Amount)</span>
                </td>
            </tr>
            <tr>
                <td>
                    Interest Rate :
                </td>
                <td>
                    @Html.TextBox("InterestRate", Model.InterestRate, new { @class = "shortWidth" })@*@Html.EditorFor(model => model.InterestRate)*@
                    <span class="editor-field">@Html.ValidationMessageFor(model => model.InterestRate)</span>
                </td>
            </tr>
            <tr>
                <td>
                    Cheque No :
                </td>
                <td>
                    @Html.TextBox("ChequeNo", Model.ChequeNo, new { @class = "shortWidth" })@*@Html.EditorFor(model => model.ChequeNo)*@
                    <span class="editor-field">@Html.ValidationMessageFor(model => model.ChequeNo)</span>
                </td>
            </tr>
            <tr>
                <td>
                    Cheque Date:
                </td>
                <td>
                    @Html.TextBox("ChequeDate", String.Format("{0:dd-MMM-yyyy}", Model.ChequeDate), new { @class = "shortWidth" })
                    <span class="editor-field">@Html.ValidationMessageFor(model => model.ChequeDate)</span>
                </td>
            </tr>
            <tr>
                <td>
                    Maturity Amount :
                </td>
                <td>
                    @Html.TextBox("MaturityAmount", Model.MaturityAmount, new { @class = "shortWidth" })@*@Html.EditorFor(model => model.MaturityAmount)*@
                    <span class="editor-field">@Html.ValidationMessageFor(model => model.MaturityAmount)</span>
                </td>
            </tr>
            <tr>
                <td>
                    Closure Date :
                </td>
                <td>
                    @Html.TextBox("ClosureDate", String.Format("{0:dd-MMM-yyyy}", Model.ClosureDate), new { @class = "shortWidth" })
                    <span class="editor-field">@Html.ValidationMessageFor(model => model.ClosureDate)</span>
                </td>
            </tr>
            <tr>
                <td>
                    Closure Amount :
                </td>
                <td>
                     @Html.TextBox("ClosureAmount", Model.ClosureAmount, new { @class = "shortWidth" })@*@Html.EditorFor(model => model.ClosureAmount)*@
                    <span class="editor-field">@Html.ValidationMessageFor(model => model.ClosureAmount)</span>
                </td>
            </tr>
            <tr>
                <td>
                    Realization Date :
                </td>
                <td>
                    @Html.TextBox("RealizationDate", String.Format("{0:dd-MMM-yyyy}", Model.RealizationDate), new { @class = "shortWidth" })
                    <span class="editor-field">@Html.ValidationMessageFor(model => model.RealizationDate)</span>
                </td>
            </tr>
            @if (IsFullAccess)
            {
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="Save" class="buttton" style="width: 45px; height: 23px;" />
                </td>
            </tr>
            }
        </table>
        @Html.HiddenFor(model => model.SocietyInvestmentID)
        @Html.HiddenFor(model => model.SocietyID)
        @Html.HiddenFor(model => model.CreatedByID)
        @Html.HiddenFor(model => model.CreatedOn)
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index", new { id = ViewBag.SocietySubscriptionID }, new { @class = "EditDelete" })
</div>
