@model IEnumerable<CloudSocietyEntities.SocietyBuildingUnitSubscriptionBalance>
@{
    ViewBag.Title = "Society Building Unit Subscription Balance";
    ViewBag.Header = "Society Building Unit Subscription Balance";
    ViewBag.SocietyNameHeader = ViewBag.SocietyHead;
    Layout = "~/Views/Shared/SocietyLayout.cshtml";
    var showBillingMenu = (bool)ViewBag.ShowBillingMenu;   
}
@if (!showBillingMenu)
{
   
    <div class="buttton" style="width: 65px;">
        @Html.ActionLink("Create New", "AskBuildingUnit", new { id = ViewBag.SocietySubscriptionID })</div>    
}
<br />
<table border="0" cellpadding="2" cellspacing="0" class="table">
    @{
        int Count = 1;
    }
    @foreach (var item in Model)
    {
        if (Count == 1)
        {
        <tr>
            <th rowspan="2">
            </th>
            <th rowspan="2">
                Building Unit
            </th>
            <th rowspan="2">
                Member
            </th>
            <th rowspan="2">
                Bill Abbr.
            </th>
            <th colspan="3">
                Principal
            </th>
            <th colspan="3">
                Interest
            </th>
            <th colspan="3">
                Special Bill
            </th>
            <th colspan="3">
                Tax
            </th>
            <th colspan="3">
                Advance
            </th>
        </tr>
        <tr>
            <th>
                Bill
            </th>
            <th>
                Receipt
            </th>
            <th>
                Balance
            </th>
            <th>
                Bill
            </th>
            <th>
                Receipt
            </th>
            <th>
                Balance
            </th>
            <th>
                Bill
            </th>
            <th>
                Receipt
            </th>
            <th>
                Balance
            </th>
            <th>
                Bill
            </th>
            <th>
                Receipt
            </th>
            <th>
                Balance
            </th>
            <th>
                Amount
            </th>
            <th>
                Adjusted
            </th>
            <th>
                Balance
            </th>
        </tr>
        }  
        <tr @if ((Count % 2) == 0)
            { <text> class="TableRow" </text> }
            else
            { <text> class="altTableRow" </text>} >
            <td>
                @if (!showBillingMenu)
                {                    
                    @Html.ActionLink("Edit", "Edit1", new { id = item.SocietyBuildingUnitSubscriptionBalanceID, societySubscriptionID = item.SocietySubscriptionID }, new { @class = "EditDelete" })                   
                    <text>|</text>  @Html.ActionLink("Delete", "Delete1", new { id = item.SocietyBuildingUnitSubscriptionBalanceID, societySubscriptionID = ViewBag.SocietySubscriptionID }, new { @class = "EditDelete" })
                }
                else
                {
                    <span></span>
                }                
            </td>
            <td>
                @item.SocietyBuildingUnit.SocietyBuilding.Building - @item.SocietyBuildingUnit.Unit
            </td>
            <td>
                @item.SocietyMember.Member
            </td>
            <td>
                @item.BillAbbreviation
            </td>
            <td align="right">
                @(item.PrincipalAmount == null ? "--" : item.PrincipalAmount.ToString())
            </td>
            <td align="right">
                @(item.PrincipalReceipt == null ? "--" : item.PrincipalReceipt.ToString())
            </td>
            <td align="right">
                @{
            var bal = (item.PrincipalAmount ?? 0) - (item.PrincipalReceipt ?? 0);
                }
                @bal
            </td>
            <td align="right">
                @(item.InterestAmount == null ? "--" : item.InterestAmount.ToString())
            </td>
            <td align="right">
                @(item.InterestReceipt == null ? "--" : item.InterestReceipt.ToString())
            </td>
            <td align="right">
                @{
            bal = (item.InterestAmount ?? 0) - (item.InterestReceipt ?? 0);
                }
                @bal
            </td>
            <td align="right">
                @(item.SpecialBillAmount == null ? "--" : item.SpecialBillAmount.ToString())
            </td>
            <td align="right">
                @(item.SpecialBillReceipt == null ? "--" : item.SpecialBillReceipt.ToString())
            </td>
            <td align="right">
                @{
            bal = (item.SpecialBillAmount ?? 0) - (item.SpecialBillReceipt ?? 0);
                }
                @bal
            </td>
            <td align="right">
                @(item.TaxAmount == null ? "--" : item.TaxAmount.ToString())
            </td>
            <td align="right">
                @(item.TaxReceipt == null ? "--" : item.TaxReceipt.ToString())
            </td>
            <td align="right">
                @{
            bal = (item.TaxAmount ?? 0) - (item.TaxReceipt ?? 0);
                }
                @bal
            </td>
            <td align="right">
                @(item.Advance == null ? "--" : item.Advance.ToString())
            </td>
            <td align="right">
                @(item.AdvanceAdjusted == null ? "--" : item.AdvanceAdjusted.ToString())
            </td>
            <td align="right">
                @{
            bal = (item.Advance ?? 0) - (item.AdvanceAdjusted ?? 0);
                }
                @bal
            </td>
        </tr>
           Count = Count + 1;
    }
    @if (Count == 1)
    {
        <tr class="TableRow">
            <td>
                Currently there are no Records
            </td>
        </tr> 
    }
</table>
<br />
<div>
    @Html.ActionLink("Back", "Menu", "SocietySubscription", new { id = ViewBag.SocietySubscriptionID }, new { @class = "EditDelete" })
</div>
