@{
    ViewBag.Title = "Enter From Date To Date";
    ViewBag.Header = "General Ledger";
    ViewBag.SocietyNameHeader = ViewBag.SocietyHead;
    Layout = "~/Views/Shared/SocietyLayout.cshtml";   
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/DateFuncs.js")" type="text/javascript"></script>
@*==== Scripts to be added for AJAX calendar START ====*@
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/MicrosoftAjax.debug.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.ExtenderBase.BaseScripts.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.Common.Common.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.Common.DateTime.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.Animation.Animations.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.PopupExtender.PopupBehavior.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.Animation.AnimationBehavior.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.Common.Threading.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.Compat.Timer.Timer.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.Calendar.CalendarBehavior.js")"
        type="text/javascript"></script>
<script type="text/javascript">
    Sys.Application.add_init(appInit);
    function appInit() {
        $create(AjaxControlToolkit.CalendarBehavior, { format: "dd-MMM-yyyy" }, null, null, $get('FromDate'));
        $create(AjaxControlToolkit.CalendarBehavior, { format: "dd-MMM-yyyy" }, null, null, $get('ToDate'));
    }
</script>
@*==== END ====*@
<script type="text/javascript" language="javascript">
    function SetFromDate() {
        document.form2.FromDate.value = document.form1.FromDate.value;
//        document.form1.ToDate.focus();
    }
    function SetToDate() {
        document.form2.ToDate.value = document.form1.ToDate.value;
    }
</script>
@if ((bool)ViewBag.NoRecords)
{
    <script type="text/javascript">
        alert('No Records Found.');
    </script>    
    
}
@*<form action="/AccountingReport/DownLoadPDF/c84ef826-5ad5-4c2e-ac7d-b49175f1ad5c?ReportName=GeneralLedger" method="post"><div class="validation-summary-valid" data-valmsg-summary="true">*@
<fieldset style="width: 400px">
    <legend>Enter From Date And To Date</legend>@*<form action="@Url.Content("~/AccountingReport/GeneralLedgerReport/" + @ViewBag.SocietySubscriptionID)" name="form1" method="post">*@
    @using (Html.BeginForm("GeneralLedgerReport", "AccountingReport", new { id = ViewBag.SocietySubscriptionID }, FormMethod.Post, new { name = "form1" }))
    {
        @Html.ValidationSummary(false, "Following errors occurred while processing your request")
        <br />
        <table>
            <tr>
                <td>
                    @Html.Label("From Date :")
                </td>
                <td>
                    @Html.TextBox("FromDate", null, new { @class = "shortWidth", onblur = "SetFromDate()" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("To Date :")
                </td>
                <td>
                    @Html.TextBox("ToDate", null, new { @class = "shortWidth", onblur = "SetToDate()" })
                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td align="center">
                    <input type="submit" value="Download PDF" class="buttton" style="width: 85px; height: 23px;
                        vertical-align: middle;" onclick="return CompareTwoDates();" />
                </td>
            </tr>
        </table>
    }
    <table >
        <tr>
            <td align="center">               
                @using (Html.BeginForm("SendMail", "AccountingReport", new { id = ViewBag.SocietySubscriptionID }, FormMethod.Post, new { name = "form2" }))
                {
                @Html.Hidden("FromDate")
                @Html.Hidden("ToDate")
                @Html.Hidden("Report1", false)
                @Html.Hidden("Report2", false)
                @Html.Hidden("Report3", false)
                @Html.Hidden("Report4", false)
                @Html.Hidden("Report5", true)
                @Html.Hidden("Report6", false)
                @Html.Hidden("Report7", false)
                <input type="submit" value="Send Mail" class="buttton" style="width: 65px; height: 23px;
                    vertical-align: middle;" onclick="return CompareTwoDates();"/>
                }
            </td>
        </tr>
    </table>
</fieldset>
<div>
    @Html.ActionLink("Back", "Menu", "SocietySubscription", new { id = ViewBag.SocietySubscriptionID }, new { @class = "EditDelete" })
</div>
