@model CloudSocietyEntities.ServiceType
@{
    ViewBag.Title = "Edit Service Type";
    ViewBag.Header = " Service Type";   
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(false, "Following errors occurred while processing your request")
    <fieldset style="width: 600px">
        <legend>Edit Service Type</legend>
        @Html.HiddenFor(model => model.ServiceTypeID)
        <br />
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td class="editor-label">
                    @Html.LabelFor(model => model.Type) :
                </td>
                <td>
                    @Html.EditorFor(model => model.Type)<span class="editor-field"> @Html.ValidationMessageFor(model => model.Type)</span>
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    @Html.LabelFor(model => model.Mandatory) :
                </td>
                <td>
                    @Html.CheckBox("Mandatory")<span class="editor-field"> @Html.ValidationMessageFor(model => model.Mandatory)</span>
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    @Html.LabelFor(model => model.Chargeability) :
                </td>
                <td>
                    @Html.DropDownList("Chargeability", ViewBag.ChargeabilityList as SelectList)<span
                        class="editor-field"> @Html.ValidationMessageFor(model => model.Chargeability)</span>
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    @Html.LabelFor(model => model.Basis) :
                </td>
                <td>
                    @Html.DropDownList("Basis", ViewBag.BasisList as SelectList)<span class="editor-field">
                        @Html.ValidationMessageFor(model => model.Basis)</span>
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    @Html.LabelFor(model => model.Nature) :
                </td>
                <td>
                    @Html.DropDownList("Nature", ViewBag.NatureList as SelectList, "<- Select Nature ->")<span
                        class="editor-field"> @Html.ValidationMessageFor(model => model.Nature)</span>
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    @Html.LabelFor(model => model.Sequence) :
                </td>
                <td>
                    @Html.TextBox("Sequence", Model.Sequence, new { @class = "shortWidth" })
                    @*<input type="text" name="Sequence" size="5" value="@Model.Sequence" ></input>@Html.EditorFor(model => model.Sequence)*@
                    <span class="editor-field">@Html.ValidationMessageFor(model => model.Sequence)</span>
                </td>
            </tr>
            <tr>
                <td colspan="2" align ="center">
                    <input type="submit" value="Save" class="buttton" style="width: 45px; height: 23px;
                        vertical-align: middle;" />
                </td>
            </tr>
        </table>
        @Html.HiddenFor(model => model.CreatedByID)
        @Html.HiddenFor(model => model.CreatedOn)
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "EditDelete" })
</div>
