@model IEnumerable<CloudSocietyEntities.ServiceType>
@{
    ViewBag.Title = "Service Type";
    ViewBag.Header = "Service Type List";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class="buttton" style="width: 65px;">
    @Html.ActionLink("Create New", "Create")</div>
<br />
<table border="0" cellpadding="2" cellspacing="0" class="table">
    @{
        int Count = 1;
    }
    @foreach (var item in Model)
    {
        if (Count == 1)
        {
        <tr>
            <th>
            </th>
            <th>
                Type
            </th>
            <th>
                Mandatory
            </th>
            <th>
                Chargeability
            </th>
            <th>
                Basis
            </th>
            <th>
                Nature
            </th>
            <th>
                Sequence
            </th>
        </tr>
        }

        <tr @if ((Count % 2) == 0)
            { <text> class="TableRow" </text> }
            else
            { <text> class="altTableRow" </text>} >
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ServiceTypeID }, new { @class = "EditDelete" })
                |
                @Html.ActionLink("Delete", "Delete", new { id = item.ServiceTypeID }, new { @class = "EditDelete" })
            </td>
            <td>
                @item.Type
            </td>
            <td align="center">
                @if (item.Mandatory == true)
                {<img src="@Url.Content("~/Content/Images/tick-green.png")" />}
            </td>
            <td>
                @(item.Chargeability == "O" ? "One Time" : (item.Chargeability == "M" ? "Monthly" : "Quarterly"))
            </td>
            <td>
                @(item.Basis == "M" ? "per Member" : "per Society")
            </td>
            <td>
                @(item.Nature == "A" ? "Accounts" : (item.Nature == "B" ? "Billing" : (item.Nature == "S" ? "SMS" : "")))
            </td>
            <td width="5px">
                @item.Sequence
            </td>
        </tr>    
           Count = Count + 1;
    }
    @if (Count == 1)
    {<tr class="TableRow">
        <td>
            Currently there are no Records
        </td>
    </tr> }
</table>
