@model CloudSocietyEntities.SocietyChargeHead
@{
    ViewBag.Title = "Create Charge Head";
    ViewBag.Header = "Charge Head";
    ViewBag.SocietyNameHeader = ViewBag.SocietyHead;
    Layout = "~/Views/Shared/SocietyLayout.cshtml";
    bool IsFullAccess = new CloudSociety.Controllers.AppInfoController().IsFullAccess();     
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(false, "Following errors occurred while processing your request")
     @Html.Hidden("SocietyID",(Guid)ViewBag.SocietyID)
    <fieldset style="width: 500px">
        <legend>Create Charge Head</legend>
        <br />
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    Charge Head :
                </td>
                <td>
                    @Html.TextBox("ChargeHead", null, new { @class = "maxWidth" })
                    <span class="editor-field">@Html.ValidationMessageFor(model => model.ChargeHead)</span>
                </td>
            </tr>
            <tr>
                <td>
                    Charge Interest :
                </td>
                <td>
                    @Html.CheckBox("ChargeInterest") @*@Html.EditorFor(model => model.ChargeInterest)*@
                    <span class="editor-field">@Html.ValidationMessageFor(model => model.ChargeInterest)</span>
                </td>
            </tr>
            <tr>
                <td>
                    Account Head :
                </td>
                <td>
                    @Html.DropDownList("AcHeadID", new SelectList(ViewBag.AcHeadList as System.Collections.IEnumerable, "AcHeadID", "Name"), "<- Select AcHead ->")
                    <span class="editor-field">@Html.ValidationMessageFor(model => model.AcHeadID)</span>
                </td>
            </tr>
            <tr>
                <td>
                    Nature :
                </td>
                <td>
                    @Html.DropDownList("Nature", ViewBag.NatureList as SelectList, "<-Select Nature->")
                    @*@Html.EditorFor(model => model.Nature)*@ <span class="editor-field">@Html.ValidationMessageFor(model => model.Nature)</span>
                </td>
            </tr>
            <tr>
                <td>
                    Rate :
                </td>
                <td>
                    @Html.TextBox("Rate", null, new { @class = "shortWidth" })@*@Html.EditorFor(model => model.Rate)*@
                    <span class="editor-field">@Html.ValidationMessageFor(model => model.Rate)</span>
                </td>
            </tr>
            <tr>
                <td>
                    Sequence :
                </td>
                <td>
                    @Html.TextBox("Sequence", null, new { @class = "shortWidth" })@*@Html.EditorFor(model => model.Sequence)*@
                    <span class="editor-field">@Html.ValidationMessageFor(model => model.Sequence)</span>
                </td>
            </tr>     
            <tr>
                <td>
                    Bill Abbreviation :
                </td>
                <td>
                    @Html.DropDownList("BillAbbreviation", new SelectList(ViewBag.SocietyBillSeriesList as System.Collections.IEnumerable, "BillAbbreviation", "BillAbbreviation"))
                    <span class="editor-field">@Html.ValidationMessageFor(model => model.BillAbbreviation)</span>
                </td>
            </tr>
            @if (IsFullAccess)
            {
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="Create" class="buttton" style="width: 45px; height: 23px;" />
                </td>
            </tr>
            }
        </table>
       
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index", new { id = ViewBag.SocietySubscriptionID }, new { @class = "EditDelete" })
</div>
