@model CloudSocietyEntities.StandardAcHead

@{
    ViewBag.Title = "Details";
    ViewBag.Header = "Details";
    
}
<fieldset style="width: 600px">

    <legend>Standard AcHead</legend>
     <br />
    <table border="0" cellpadding="0" cellspacing="0">
        
        <tr>
            <td class="editor-label"  >
                AcHead :
            </td>
            <td>
                @Model.AcHead
            </td>
        </tr>
        @*<tr>
            <td class="editor-label"  >
               SubCategoryID :
            </td>
            <td>
                @Model.StandardAcSubCategory.SubCategory
            </td>
        </tr>*@
        <tr>
            <td class="editor-label"  >
                Sequence :
            </td>
            <td>
                @Model.Sequence
            </td>
        </tr><tr>
            <td class="editor-label"  >
               Nature:
            </td>
            <td>
                @(Model.Nature == "C" ? "Cash" : (Model.Nature == "B" ? "Bank" : (Model.Nature == "S" ? "Creditor" : (Model.Nature == "D" ? "Debtor" : (Model.Nature == "T" ? "TDS" : "")))))
            </td>
        </tr><tr>
            <td class="editor-label"  >
                TDSCompany :
            </td>
            <td>
                @Model.TDSCompany
            </td>
        </tr>
        
    </table>


</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AcHeadID}, new { @class = "EditDelete" }) |
    @Html.ActionLink("Back to List", "Index", null, new { @class = "EditDelete" })
</p>

