@model IEnumerable<CloudSocietyEntities.SocietyBill>
@{
    ViewBag.Title = "Member Bill List";
    ViewBag.Header = ViewBag.MemberName + " - Bills";
    ViewBag.SocietyNameHeader = ViewBag.SocietyHead;
    Layout = "~/Views/Shared/SocietyLayout.cshtml";
}
<table border="0" cellpadding="2" cellspacing="0" class="table">
    @{
        int Count = 1;
    }
    @foreach (var item in Model)
    {
        if (Count == 1)
        {
        <tr>
            <th></th>
            <th>Bill No
            </th>
            <th>Bill Date
            </th>
            <th>Building Unit
            </th>
            <th>Amount
            </th>
            @if (item.Arrears != null)
            {               
                <th>Arrears
                </th>
            }
            @if (item.Arrears != null)
            {               
                <th>Interest Arrears
                </th>
            }
            @if (item.Interest != null)
            {               
                <th>Interest
                </th> 
            }
            @if (item.Tax != null)
            {  
                <th>
                    @Html.DisplayFor(modelItem => item.Tax)
                </th>            
            }
            <th>Payable
            </th>
        </tr>
        }  
        <tr @if ((Count % 2) == 0)
            { <text> class="TableRow" </text> }
            else
            { <text> class="altTableRow" </text>} >
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.SocietyBillID, societySubscriptionID = ViewBag.SocietySubscriptionID, sms = false }, new { @class = "EditDelete" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillNo)
            </td>
            <td>
                @String.Format("{0:dd-MMM-yyyy}", item.BillDate)
            </td>
            <td>
                @item.SocietyBuildingUnit.SocietyBuilding.Building - @Html.DisplayFor(modelItem => item.SocietyBuildingUnit.Unit)
            </td>
            <td align="right">
                @Html.DisplayFor(modelItem => item.uAmount)
            </td>
            @if (item.Arrears != null)
            {                
                <td align="right">
                    @Html.DisplayFor(modelItem => item.Arrears)
                </td>
            }
            @if (item.InterestArrears != null)
            {       
                <td align="right">
                    @Html.DisplayFor(modelItem => item.InterestArrears)
                </td>
            }
            @if (item.Interest != null)
            { 
                <td align="right">
                    @Html.DisplayFor(modelItem => item.Interest)
                </td>
            }
            @if (item.Tax != null)
            {         
                <td align="right">
                    @Html.DisplayFor(modelItem => item.TaxAmount)
                </td>             
            }
            <td align="right">
                @Html.DisplayFor(modelItem => item.Payable)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Particulars)
            </td>*@
        </tr>
            Count = Count + 1;
    }
    @if (Count == 1)
    {<tr class="TableRow">
        <td>Currently there are no Records
        </td>
    </tr> }
</table>
@*<br />
<div>
    @Html.ActionLink("Back", "Menu", "SocietyMember", new { id = ViewBag.SocietySubscriptionID }, new { @class = "EditDelete" })
</div>
*@