@model CloudSocietyEntities.Coupon
@{
    ViewBag.Title = "Delete Coupon";
    ViewBag.Header = "Coupon";
    
}
<div class="LabelDel">
    Are you sure you want to delete this?</div>
<br />
<fieldset style="width: 500px">
    <legend>Coupon Details</legend>
    <br />
    <table >
        <tr>
            <td class="editor-label">
                Coupon No :
            </td>
            <td>
                @Model.CouponNo
            </td>
        </tr>
        <tr>
            <td class="editor-label">
                IPIN :
            </td>
            <td>
                @Model.IPIN
            </td>
        </tr>
        <tr>
            <td class="editor-label">
                DiscountPerc :
            </td>
            <td>
                @Model.DiscountPerc
            </td>
        </tr>
        <tr>
            <td class="editor-label">
                DiscountAmount :
            </td>
            <td>
                @Model.DiscountAmount
            </td>
        </tr>
        <tr>
            <td class="editor-label">
                Validity Start :
            </td>
            <td>
                @String.Format("{0:dd-MMM-yyyy}", Model.ValidityStart)
            </td>
        </tr>
        <tr>
            <td class="editor-label">
                Validity End :
            </td>
            <td>
                @String.Format("{0:dd-MMM-yyyy}", Model.ValidityEnd)
            </td>
        </tr>
        <tr>
            <td class="editor-label">
                Subsciber :
            </td>
            <td>
                @(Model.Subscriber != null ? Model.Subscriber.Name : "")
            </td>
        </tr>
        <tr>
            <td class="editor-label">
                Society :
            </td>
            <td>
                @(Model.Society != null ? Model.Society.Name : "")
            </td>
        </tr>
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(model => model.CouponNo)             
            <tr>
                <td colspan="2">
                    <input type="submit" value="Delete" class="buttton" style="width: 45px; height: 23px;
                        vertical-align: middle;" />
                </td>
            </tr>
        }
    </table>
</fieldset>
<br />
@Html.ActionLink("Back to List", "Index", null, new { @class = "EditDelete" })
