@model IEnumerable<CloudSocietyEntities.Coupon>
@{
    ViewBag.Title = "Coupon";
    ViewBag.Header = "Coupon List";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div class="buttton" style="width: 65px;">
    @Html.ActionLink("Create New", "Create")
</div>
<br />
<table border="0" cellpadding="2" cellspacing="0" class="table">
    @{
        int Count = 1;
        bool used;
    }
    @foreach (var item in Model)
    {
        used = (item.SubscriptionInvoices.Count() > 0);
        if (Count == 1)
        {
        <tr>
            <th>
            </th>
            <th>
                Coupon No
            </th>
            <th>
                Discount %
            </th>
            <th>
                Discount Amount
            </th>
            <th>
                Validity Start
            </th>
            <th>
                Validity End
            </th>
            <th>
                Min.Amount
            </th>
            <th>
                Max.Amount
            </th>
            <th>
                Subscriber
            </th>
            <th>
                Society
            </th>
            <th>
                Used
            </th>
        </tr>
        }

        <tr @if ((Count % 2) == 0)
            { <text> class="TableRow" </text> }
            else
            { <text> class="altTableRow" </text>} >
            
	            @if (!used)
	            {
                 <td >
	                @Html.ActionLink("Edit", "Edit", new { code = item.CouponNo }, new { @class = "EditDelete" })
                    |                    
                    @Html.ActionLink("Delete", "Delete", new { code = item.CouponNo }, new { @class = "EditDelete" })
                    @*|
                    @Html.ActionLink("Details", "Details", new { code = item.CouponNo }, new { @class = "EditDelete" })*@
                 </td>
                 }
            
            <td>
                @item.CouponNo
            </td>
            <td>
                @String.Format("{0:F}", item.DiscountPerc)
            </td>
            <td>
                @item.DiscountAmount
            </td>
            <td>
                @String.Format("{0:dd-MMM-yyyy}", item.ValidityStart)
            </td>
            <td>
                @String.Format("{0:dd-MMM-yyyy}", item.ValidityEnd)
            </td>
            <td>
                @item.MinAmount
            </td>
            <td>
                @item.MaxAmount
            </td>
            <td>
                @if (item.SubscriberID != null)
                {
                    @item.Subscriber.Name
                }
            </td>
            <td>
                @if (item.SocietyID != null)
                {
                    @item.Society.Name
                }
            </td>
            <td width="50px" align="center">
                @if (used)
                { <text>
                    <img src="@Url.Content("~/Content/Images/tick-green.png")"  />
                    </text> }
            </td>
        </tr>
    
                Count = Count + 1;

    }
    @if (Count == 1)
    {<tr class="TableRow">
        <td>
            Currently there are no Records
        </td>
    </tr> }
</table>
