@model CloudSocietyEntities.SocietyCollectionReversal
@{
    ViewBag.Title = "Delete Society Collection Reversal";
    ViewBag.Header = " Society Collection Reversal";
    ViewBag.SocietyNameHeader = ViewBag.SocietyHead;
    Layout = "~/Views/Shared/SocietyLayout.cshtml";
    bool IsFullAccess = new CloudSociety.Controllers.AppInfoController().IsFullAccess();
}
@if ((bool)ViewBag.AllowToDelete)
{
    <div class="LabelDel">
        Are you sure you want to delete this?</div>

}
else
{    
    <table>
        <tr>
            <td align="left">
                <div class="divFailure">
                    This receipt is already accounted in bills can not be deleted !!</div>
            </td>
        </tr>
    </table>                
}
<br />
@using (Html.BeginForm())
{
    <fieldset style="width: 600px">
    <legend>Delete Society Collection Reversal</legend>
        <table>
            <tr>
                <td>
                    Bill Abbreviation :
                </td>
                <td>
                    @Model.BillAbbreviation
                </td>
            </tr>
            <tr>
                <td>
                    Building Unit :
                </td>
                <td>
                    @Model.SocietyBuildingUnit.SocietyBuilding.Building - @Model.SocietyBuildingUnit.Unit
                </td>
            </tr>
            <tr>
                <td>
                    Society Member :
                </td>
                <td>
                    @Model.SocietyMember.Member
                </td>
            </tr>
            <tr>
                <td>
                    Reversal Date :
                </td>
                <td>
                    @String.Format("{0:dd-MMM-yyyy}", Model.ReversalDate)
                </td>
            </tr>
            <tr>
                <td>
                    Collection Receipt :
                </td>
                <td>
                    @(Model.SocietyReceipt != null ? Model.SocietyReceipt.SocietyReceiptDetails : "")
                </td>
            </tr>
            <tr>
                <td>
                    Particulars :
                </td>
                <td>
                    @Model.Particulars
                </td>
            </tr>
            <tr>
                <td>
                    Principal Adjusted :
                </td>
                <td>
                    @Model.PrincipalAdjusted
                </td>
            </tr>
            <tr>
                <td>
                    Interest Adjusted :
                </td>
                <td>
                    @Model.InterestAdjusted
                </td>
            </tr>
            <tr>
                <td>
                    NonChg Adjusted :
                </td>
                <td>
                    @Model.NonChgAdjusted
                </td>
            </tr>
            <tr>
                <td>
                    Tax Adjusted :
                </td>
                <td>
                    @Model.TaxAdjusted
                </td>
            </tr>
            <tr>
                <td>
                    Advance :
                </td>
                <td>
                    @Model.Advance
                </td>
            </tr>
            @if ((bool)ViewBag.AllowToDelete)
            {
                if (IsFullAccess)
                {
                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" value="Delete" class="buttton" style="width: 45px; height: 23px;" />
                    </td>
                </tr>
                }
            }
        </table>
    </fieldset>     
}
<div>
    @Html.ActionLink("Back to List", "Index", new { id = Model.SocietySubscriptionID }, new { @class = "EditDelete" })
</div>