@model CloudSocietyEntities.StandardAcCategory
@{
    ViewBag.Title = "Delete Standard Account Category";
    ViewBag.Header = "Standard Account Category"; 
}
<div class="LabelDel">
    Are you sure you want to delete this?</div>
<br />
@using (Html.BeginForm())
{
     @Html.ValidationSummary(false, "Following errors occurred while processing your request")
    @Html.HiddenFor(model => model.CategoryID)
<fieldset style="width: 500px">

    <legend>Standard Account Category Details</legend>
    <br />
    <table border="0" cellpadding="0" cellspacing="0">      
         <tr>
            <td class="editor-label"  >
                Sequence :
            </td>
            <td>
                @Model.Sequence
                @Html.HiddenFor(model=>model.Sequence)
            </td>
        </tr>
        <tr>
            <td>
                Category :
            </td>
            <td>
                @Model.Category
                @Html.HiddenFor(model=>model.Category)
            </td>
        </tr>
          <tr>
            <td class="editor-label"  >
                Nature :
            </td>
            <td>
                @(Model.Nature == "I" ? "Income Expenditure" : (Model.Nature == "B" ? "Balance Sheet" : ""))
                @Html.HiddenFor(model=>model.Nature)
            </td>
        </tr>
        <tr>
            <td>
                DrCr :
            </td>
            <td>
                 @(Model.DrCr == "D" ? "Debit" : (Model.DrCr == "C" ? "Credit" : ""))
                 @Html.HiddenFor(model=>model.DrCr)
            </td>
        </tr>          
        <tr>
                <td align="center" colspan="2">
                    <input type="submit" value="Delete" class="buttton" style="width: 45px; height: 23px;
                        vertical-align: middle;" />
                </td>
            </tr>
    </table>
</fieldset>
@Html.HiddenFor(model => model.CreatedByID)
@Html.HiddenFor(model => model.CreatedOn)
@Html.HiddenFor(model => model.UpdatedByID)
@Html.HiddenFor(model => model.UpdatedOn)
}
<br />
<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "EditDelete" })
</div>


