@model CloudSocietyEntities.SubscriptionInvoice
@{
    ViewBag.Title = "Payment for Subscription Invoice";
    ViewBag.Header = "Payment for Subscription Invoice";
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/SubscriptionInvoice.js")" type="text/javascript"></script>
@*==== Scripts to be added for AJAX calendar START ====*@
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/MicrosoftAjax.debug.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.ExtenderBase.BaseScripts.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.Common.Common.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.Common.DateTime.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.Animation.Animations.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.PopupExtender.PopupBehavior.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.Animation.AnimationBehavior.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.Common.Threading.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.Compat.Timer.Timer.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.Calendar.CalendarBehavior.js")"
        type="text/javascript"></script>
<script type="text/javascript">

    Sys.Application.add_init(appInit);

    function appInit() {
        $create(AjaxControlToolkit.CalendarBehavior, { format: "dd-MMM-yyyy" }, null, null, $get('PaidOn'));
        $create(AjaxControlToolkit.CalendarBehavior, { format: "dd-MMM-yyyy" }, null, null, $get('PayRefDate'));
    }   
</script>
@*==== END ====*@
@using (Html.BeginForm())
{
    @Html.ValidationSummary(false, "Following errors occurred while processing your request")
    <fieldset style="width: 580px">
        <legend>Payment for Subscription</legend>
        <br />
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    <strong>Invoice No :</strong>
                </td>
                <td>
                    @Model.InvoiceNo
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Invoice Date :</strong>
                </td>
                <td>
                    @String.Format("{0:dd-MMM-yyyy}", Model.InvoiceDate)
                    @Html.Hidden("invoiceDate", String.Format("{0:dd-MMM-yyyy}", Model.InvoiceDate))
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Due Date :</strong>
                </td>
                <td>
                    @String.Format("{0:dd-MMM-yyyy}", Model.DueDate)
                </td>
            </tr>
            <tr>
                @if (Model.SubscriberID == null)
                {
                    <td>
                        <strong>Society Name :</strong>
                    </td>
                    <td>
                        @Model.Society.Name
                    </td>
                }
                else
                {
                    <td>
                        <strong>Name :</strong>
                    </td>
                    <td>
                        @Model.Subscriber.Name
                    </td> 
                }
            </tr>
            <tr>
                <td>
                    <strong>Coupon No :</strong>
                </td>
                <td>
                    @Model.CouponNo
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Amount :</strong>
                </td>
                <td>
                    @String.Format("{0:0.00}", Model.Amount)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Discount :</strong>
                </td>
                <td>
                    @String.Format("{0:0.00}", Model.Discount)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Tax :</strong>
                </td>
                <td>
                    @String.Format("{0:0.00}", Model.Tax)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Tax Amount :</strong>
                </td>
                <td>
                    @String.Format("{0:0.00}", Model.TaxAmount)
                </td>
            </tr>
            <tr>
                <td width="150px">
                    <strong>Invoice Amount :</strong>
                </td>
                <td>
                    @String.Format("{0:0.00}", Model.InvoiceAmount)
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Paid Amount :</strong>
                </td>
                <td>
                    @Html.EditorFor(model => model.PaidAmount)<span class="editor-field">
                        @Html.ValidationMessageFor(model => model.PaidAmount)</span>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Paid On :</strong>
                </td>
                <td>
                    @Html.TextBox("PaidOn", String.Format("{0:dd-MMM-yyyy}", Model.PaidOn), new { @class = "shortWidth" })<span class="editor-field">
                        @Html.ValidationMessageFor(model => model.PaidOn)</span>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Pay Mode :</strong>
                </td>
                <td>
                    @Html.DropDownList("PayModeCode", new SelectList(ViewBag.PayModes as System.Collections.IEnumerable, "PayModeCode", "Mode"), "<- Select Mode ->")
                    @*@Html.EditorFor(model => model.PayModeCode)<span class="editor-field">
                    @Html.ValidationMessageFor(model => model.PayModeCode)</span>*@
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Pay Ref No :</strong>
                </td>
                <td>
                    @Html.EditorFor(model => model.PayRefNo)<span class="editor-field">
                        @Html.ValidationMessageFor(model => model.PayRefNo)</span>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Pay Ref Date :</strong>
                </td>
                <td>
                    @Html.EditorFor(model => model.PayRefDate)<span class="editor-field">
                        @Html.ValidationMessageFor(model => model.PayRefDate)</span>
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Bank :</strong>
                </td>
                <td class="editor-field">
                    @Html.DropDownList("BankID", new SelectList(ViewBag.Banks as System.Collections.IEnumerable, "BankID", "Name"), "<- Select Bank ->")
                    @*@Html.EditorFor(model => model.BankID)<span class="editor-field">
                    @Html.ValidationMessageFor(model => model.BankID)</span>*@
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Branch :</strong>
                </td>
                <td>
                    @Html.EditorFor(model => model.Branch)<span class="editor-field">
                        @Html.ValidationMessageFor(model => model.Branch)</span>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Pay" class="buttton" style="width: 45px; height: 23px;
                        vertical-align: middle;" onclick="return CheckReceiptDate()" />
                </td>
            </tr>
        </table>
        @Html.HiddenFor(model => model.SubscriptionInvoiceID)
        @Html.HiddenFor(model => model.UpdatedByID)
        @Html.HiddenFor(model => model.UpdatedOn)
        @Html.HiddenFor(model => model.CreatedByID)
        @Html.HiddenFor(model => model.CreatedOn)
        @Html.HiddenFor(model => model.CouponNo)
        @Html.HiddenFor(model => model.Discount)
        @Html.HiddenFor(model => model.Tax)
        @Html.HiddenFor(model => model.TaxAmount)
        @Html.HiddenFor(model => model.DueDate)
        @Html.HiddenFor(model => model.Amount)
        @Html.HiddenFor(model => model.InvoiceDate)
        @Html.HiddenFor(model => model.SubscriberID)
        @Html.HiddenFor(model => model.SocietyID)
        @Html.HiddenFor(model => model.Serial)
        @Html.HiddenFor(model => model.TariffID)
        @Html.HiddenFor(model => model.AcYear)
        @Html.HiddenFor(model => model.InvoiceAmount)
        @*@Html.HiddenFor(model => model.InvoiceNo)*@
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "EditDelete" })
</div>
