@model CloudSocietyEntities.SocietyMemberJointHolder
@{
    ViewBag.Title = "Create Member JointHolder";
    ViewBag.Header = " Member JointHolder";
    ViewBag.SocietyNameHeader = ViewBag.SocietyHead;
    Layout = "~/Views/Shared/SocietyLayout.cshtml";
    var societyMember = (CloudSocietyEntities.SocietyMember)ViewBag.SocietyMember;
    bool IsFullAccess = new CloudSociety.Controllers.AppInfoController().IsFullAccess();
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@*==== Scripts to be added for AJAX calendar START ====*@
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/MicrosoftAjax.debug.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.ExtenderBase.BaseScripts.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.Common.Common.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.Common.DateTime.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.Animation.Animations.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.PopupExtender.PopupBehavior.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.Animation.AnimationBehavior.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.Common.Threading.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.Compat.Timer.Timer.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.Calendar.CalendarBehavior.js")"
        type="text/javascript"></script>
<script type="text/javascript">
    Sys.Application.add_init(appInit);
    function appInit() {
        $create(AjaxControlToolkit.CalendarBehavior, { format: "dd-MMM-yyyy" }, null, null, $get('StartDate'));
        $create(AjaxControlToolkit.CalendarBehavior, { format: "dd-MMM-yyyy" }, null, null, $get('EndDate'));
        $create(AjaxControlToolkit.CalendarBehavior, { format: "dd-MMM-yyyy" }, null, null, $get('EnteranceFeePaidOn'));

    } 
</script>
@*==== END ====*@ <span class="SocName">@societyMember.Member</span>
<br />
<br />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(false, "Following errors occurred while processing your request")
    <fieldset style="width: 600px">
        <legend>Create Member Joint Holder</legend>
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td>
                    Name :
                </td>
                <td>
                     @Html.TextBox("Name", null, new { @class = "maxWidth" })
                    <span class="editor-field">@Html.ValidationMessageFor(model => model.Name)</span>
                </td>
            </tr>
            <tr>
                <td>
                    Member Class :
                </td>
                <td>
                    @Html.DropDownList("MemberClassID", new SelectList(ViewBag.MemberClassList as System.Collections.IEnumerable, "MemberClassID", "Class"), "<- Select Member Class ->")
                    <span class="editor-field">@Html.ValidationMessageFor(model => model.MemberClassID)</span>
                </td>
            </tr>
            <tr>
                <td>
                    Start Date :
                </td>
                <td>
                    @Html.TextBox("StartDate", null, new { @class = "shortWidth" })
                    <span class="editor-field">@Html.ValidationMessageFor(model => model.StartDate)</span>
                </td>
            </tr>
            <tr>
                <td>
                    End Date :
                </td>
                <td>
                   @Html.TextBox("EndDate", null, new { @class = "shortWidth" })
                    <span class="editor-field">@Html.ValidationMessageFor(model => model.EndDate)</span>
                </td>
            </tr>
            <tr>
                <td>
                    Enterance Fee Paid On :
                </td>
                <td>
                    @Html.TextBox("EnteranceFeePaidOn", null, new { @class = "shortWidth" })
                    <span class="editor-field">@Html.ValidationMessageFor(model => model.EnteranceFeePaidOn)</span>
                </td>
            </tr>
            <tr>
                <td>
                    Address :
                </td>
                <td>
                    @Html.TextAreaFor(model => model.Address, 3, 40, 1) @*@Html.EditorFor(model => model.Address)*@
                    <span class="editor-field">@Html.ValidationMessageFor(model => model.Address)</span>
                </td>
            </tr>
           <tr>
                <td>
                    @Html.LabelFor(model => model.City) :
                </td>
                <td class="editor-field">
                    @Html.TextBox("City", null, new { @class = "mediumWidth" })
                    <span class="editor-field">@Html.ValidationMessageFor(model => model.City)</span>
                    &nbsp;&nbsp;
                    @Html.LabelFor(model => model.PIN) :
                    @Html.TextBox("PIN", null, new { @class = "shortWidth" })
                    <span class="editor-field">@Html.ValidationMessageFor(model => model.PIN)</span>
                </td>
            </tr>
            <tr>
                <td>
                    State :
                </td>
                <td>
                    @Html.DropDownList("StateID", new SelectList(ViewBag.StateList as System.Collections.IEnumerable, "StateID", "Name"), "<- Select State ->")
                    <span class="editor-field">@Html.ValidationMessageFor(model => model.StateID)</span>
                </td>
            </tr>
           <tr>
                <td>
                    Phone No :
                </td>
                <td>
                    @Html.TextBox("PhoneNo", null, new { @class = "shortWidth" })
                    <span class="editor-field">@Html.ValidationMessageFor(model => model.PhoneNo)</span>
                </td>
            </tr>
            <tr>
                <td>
                    Office Phone No :
                </td>
                <td>
                    @Html.TextBox("OfficePhoneNo", null, new { @class = "shortWidth" })
                    <span class="editor-field">@Html.ValidationMessageFor(model => model.OfficePhoneNo)</span>
                </td>
            </tr>
            <tr>
                <td>
                    Mobile No :
                </td>
                <td>
                    @Html.TextBox("MobileNo", null, new { @class = "shortWidth" })
                    <span class="editor-field">@Html.ValidationMessageFor(model => model.MobileNo)</span>
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    @Html.Label("EMail ID :")
                </td>
                <td class="editor-field">
                    @Html.TextBox("EMailId", null, new { @class = "mediumWidth" })
                    <span class="editor-field">@Html.ValidationMessageFor(model => model.EMailId)</span>
                </td>
            </tr>
            @if (IsFullAccess)
            {
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="Create" class="buttton" style="width: 45px; height: 23px;" />
                </td>
            </tr>
            }
        </table>
        <input type="hidden" name="SocietyMemberID" id="SocietyMemberID" value="@societyMember.SocietyMemberID" />
        @Html.HiddenFor(model => model.CountryCode)
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index", new { societyMemberID = societyMember.SocietyMemberID, societySubscriptionID = ViewBag.SocietySubscriptionID }, new { @class = "EditDelete" })
</div>
