@model CloudSocietyEntities.TDSCategoryRate

@{
    ViewBag.Title = "Details";
    ViewBag.Header = "Details";
}
<fieldset style="width: 580px">
    <legend>TDSCategoryRate</legend>

    <br />
    <table border="0" cellpadding="0" cellspacing="0">
      @*<tr>
            <td class="editor-label"  >
                TDSCategory:
            </td>
            <td>
                @Model.TDSCategory
            </td>
        </tr>*@
       
        <tr>
            <td class="editor-label"  >
               FromDate :
            </td>
            <td>
               
              @Model.FromDate
            </td>
        </tr>
        <tr>
            <td class="editor-label"  >
               ToDate :
            </td>
            <td>
                @Model.ToDate
            </td>
        </tr>
        <tr>
            <td class="editor-label"  >
               Company Rate :
            </td>
            <td>
                @Model.CompanyRate
            </td>
        </tr>
        <tr>
            <td class="editor-label"  >
               NonCompanyRate :
            </td>
            <td>
                @Model.NonCompanyRate
               
            </td>
        </tr>
           
    </table>
    </fieldset>
<p>
     @Html.ActionLink("Edit", "Edit", new { id = Model.TDSCategoryRateID}, new { @class = "EditDelete" }) |
      @Html.ActionLink("Back to List", "Index", "TDSCategoryRate", new { parentid = (object)Model.TDSCategoryID }, new { @class = "EditDelete" })
</p>






   