@{
    ViewBag.Title = "Collection Reversal Report";
    ViewBag.Header = "Collection Reversal Report";
    ViewBag.SocietyNameHeader = ViewBag.SocietyHead;
    Layout = "~/Views/Shared/SocietyLayout.cshtml";
    IEnumerable<CloudSocietyEntities.SocietyBuilding> SocietyBuildingList = (IEnumerable<CloudSocietyEntities.SocietyBuilding>)ViewBag.SocietyBuildingList;
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/DateFuncs.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/SocietyReceipt.js")" type="text/javascript"></script>
@*==== Scripts to be added for AJAX calendar START ====*@
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/MicrosoftAjax.debug.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.ExtenderBase.BaseScripts.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.Common.Common.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.Common.DateTime.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.Animation.Animations.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.PopupExtender.PopupBehavior.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.Animation.AnimationBehavior.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.Common.Threading.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.Compat.Timer.Timer.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.Calendar.CalendarBehavior.js")"
        type="text/javascript"></script>
<script type="text/javascript">
    Sys.Application.add_init(appInit);
    function appInit() {
        $create(AjaxControlToolkit.CalendarBehavior, { format: "dd-MMM-yyyy" }, null, null, $get('FromDate'));
        $create(AjaxControlToolkit.CalendarBehavior, { format: "dd-MMM-yyyy" }, null, null, $get('ToDate'));
    }
</script>
<script type="text/javascript">
    function CheckFromToDate() {
        //        debugger;
        var d = CompareTwoDates();
        //        debugger;
        if (d == true) {
            var a = DateRangeCheck($("#FromDate").val(), $("#StartRange").val(), $("#EndRange").val());
            if (a == true) {
                var b = DateRangeCheck($("#ToDate").val(), $("#StartRange").val(), $("#EndRange").val());
                return b;
            }
            else {
                return a;
            }
            //            return a == true ? b : a;
        }
        else
            return d;
    }
</script>
@*==== END ====*@
@using (Html.BeginForm())
{
    @Html.ValidationSummary(false, "Following errors occurred while processing your request")
    <fieldset style="width: 500px">
        <legend>Fill The Following Fields</legend>
        <br />
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td align="right">
                    @Html.Label("For :")
                </td>
                <td style="width: 350px">
                    @if (SocietyBuildingList.Count() > 1)
                    {          
                        @Html.DropDownList("SocietyBuildingID", new SelectList(ViewBag.SocietyBuildingList as System.Collections.IEnumerable, "SocietyBuildingID", "Building"), "<- Select Building ->")
                    }
                    else
                    {
                        if (SocietyBuildingList.Count() == 1)
                        {                      
                        @SocietyBuildingList.FirstOrDefault().Building                                         
                        @Html.Hidden("SocietyBuildingID", SocietyBuildingList.FirstOrDefault().SocietyBuildingID)
                        }
                        else
                        {
                        <text>No Building is avalilable. </text>
                        @Html.Hidden("SocietyBuildingID", null) 
                        }
                    }
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("From Date :")
                </td>
                <td>
                    @Html.TextBox("FromDate", String.Format("{0:dd-MMM-yyyy}", (DateTime)ViewBag.FromDate), new { @class = "shortWidth", onmouseover = "ShowLastBillDate()", onmouseout = "HideLastBillDate()" })
                </td>
            </tr>
            <tr>
                <td>
                    @Html.Label("To Date :")
                </td>
                <td>
                    @Html.TextBox("ToDate", String.Format("{0:dd-MMM-yyyy}", (DateTime)ViewBag.ToDate), new { @class = "shortWidth", onmouseover = "ShowLastBillDate()", onmouseout = "HideLastBillDate()" })
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div id="displayLastBillDate" style="visibility: hidden">
                        From Date and To Date must be in between @String.Format("{0:dd-MMM-yyyy}", (DateTime)ViewBag.FromDate)
                        and @String.Format("{0:dd-MMM-yyyy}", (DateTime)ViewBag.ToDate)</div>
                </td>
            </tr>
            <tr>
                <td>
                    &nbsp;
                </td>
                <td align="left">
                    <input type="submit" value="GO" class="buttton" style="width: 45px; height: 23px;
                        vertical-align: middle;" onclick="return CheckFromToDate()" />
                </td>
            </tr>
        </table>
        @Html.Hidden("EndRange", String.Format("{0:dd-MMM-yyyy}", (DateTime)ViewBag.ToDate))
        @Html.Hidden("StartRange", String.Format("{0:dd-MMM-yyyy}", (DateTime)ViewBag.FromDate))
    </fieldset>
}
<div>
    @Html.ActionLink("Back", "Menu", "SocietySubscription", new { id = ViewBag.SocietySubscriptionID }, new { @class = "EditDelete" })
</div>
