@model IEnumerable<CloudSocietyEntities.CommunicationType>
@{
    ViewBag.Title = "Communication Type";
    ViewBag.Header = "Communication Type List";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="buttton" style="width: 65px;">
    @Html.ActionLink("Create New", "Create")
</div>
<br />

<table border="0" cellpadding="2" cellspacing="0" class="table">
    @{
        int Count = 1;
    }
    @foreach (var item in Model)
    {
        if (Count == 1)
        {
        <tr>
            <th></th>
            <th>Type</th>
             <th>Is Active</th>
            <th>Only For Office Bearer</th>
            <th>Is Approval Needed</th>
            <th>Is To Send Selective</th>
            <th>Need To Close</th>
        </tr>
        }

        <tr @if ((Count % 2) == 0)
            { <text> class="TableRow" </text> }
            else
            { <text> class="altTableRow" </text>} >
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CommunicationTypeID }, new { @class = "EditDelete" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CommunicationTypeID }, new { @class = "EditDelete" })
            </td>
            <td>
                @item.CommunicationType1
            </td>
            <td align="center">
                @if (item.Active)
                { <text>
                    <img src="@Url.Content("~/Content/Images/tick-green.png")"  />
                    </text> }
                else
                { <text>
                    <img src="@Url.Content("~/Content/Images/Copy of cancel-icon.png")" /></text> }
            </td>
            <td align="center">
                @if (item.OnlyForOfficeBearer)
                { <text>
                    <img src="@Url.Content("~/Content/Images/tick-green.png")"  />
                    </text> }
                else
                { <text>
                    <img src="@Url.Content("~/Content/Images/Copy of cancel-icon.png")" /></text> }
            </td>            
            <td align="center">
                @if (item.IsApprovalNeeded)
                { <text>
                    <img src="@Url.Content("~/Content/Images/tick-green.png")"  />
                    </text> }
                else
                { <text>
                    <img src="@Url.Content("~/Content/Images/Copy of cancel-icon.png")" /></text> }
            </td>
            <td align="center">
                @if (item.IsToSendSelective)
                { <text>
                    <img src="@Url.Content("~/Content/Images/tick-green.png")"  />
                    </text> }
                else
                { <text>
                    <img src="@Url.Content("~/Content/Images/Copy of cancel-icon.png")" /></text> }
            </td>
            <td align="center">
                @if (item.NeedToClose)
                { <text>
                    <img src="@Url.Content("~/Content/Images/tick-green.png")"  />
                    </text> }
                else
                { <text>
                    <img src="@Url.Content("~/Content/Images/Copy of cancel-icon.png")" /></text> }
            </td>
        </tr>
        Count = Count + 1;
    }
    @if (Count == 1)
    {<tr class="TableRow">
        <td>Currently there are no Records</td>
    </tr> }
</table>
<br />
<br />