@model CloudSocietyEntities.PasswordQuestion
@{
    ViewBag.Title = "Delete PasswordQuestion";
    ViewBag.Header = "Password Question";   
}
<div class="LabelDel">
    Are you sure you want to delete this?</div>
<br />
@using (Html.BeginForm())
{
    @Html.ValidationSummary(false, "Following errors occurred while processing your request")
    @Html.HiddenFor(model => model.Question)
    <fieldset style="width: 600px">
        <legend>Question Details</legend>
        <br />
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td class="editor-label">
                    Question :
                </td>
                <td>
                    @Model.Question
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    Active :
                </td>
                <td>
                    @if (Model.Active == true)
                    { <text>
                        <img src="@Url.Content("~/Content/Images/tick-green.png")"  />
                        </text> }
                    else
                    { <text>
                        <img src="@Url.Content("~/Content/Images/Copy of cancel-icon.png")" /></text> }
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Delete" class="buttton" style="width: 45px; height: 23px;
                        vertical-align: middle;" />
                </td>
            </tr>
        </table>
    </fieldset>
}
<br />
<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "EditDelete" })
</div>
