@model IEnumerable<CloudSocietyEntities.SocietyBuildingUnitChargeHeadView>
@{
    ViewBag.Title = "Society Building Unit Charge Head";
    ViewBag.Header = "Society Building Unit Charge Head";
    var societyBuildingUnit = (CloudSocietyEntities.SocietyBuildingUnit)ViewBag.SocietyBuildingUnit;
    ViewBag.SocietyNameHeader = ViewBag.SocietyHead;
    Layout = "~/Views/Shared/SocietyLayout.cshtml";
    var societybuilding = societyBuildingUnit.SocietyBuilding;    
}
<span class="SocName">Building : @societybuilding.Building</span>&nbsp;<span class="SocName">Unit
    : @societyBuildingUnit.Unit</span>
<br />
<br />
<div class="buttton" style="width: 65px;">
    @Html.ActionLink("Create New", "Create", new { societyBuildingUnitID = societyBuildingUnit.SocietyBuildingUnitID, societySubscriptionID = ViewBag.SocietySubscriptionID })
</div>
<br />
<table border="0" cellpadding="2" cellspacing="0" class="table">
    @{
        int Count = 1;
    }
    @foreach (var item in Model)
    {
        if (Count == 1)
        {
        <tr>
            <th>
            </th>
            <th>
                Charge Head
            </th>
            <th>
                Rate
            </th>
        </tr>
        }  
        <tr @if ((Count % 2) == 0)
            { <text> class="TableRow" </text> }
            else
            { <text> class="altTableRow" </text>} >
            <td width="70px">
                @Html.ActionLink("Edit", "Edit", new { id = item.SocietyBuildingUnitChargeHeadID, societySubscriptionID = ViewBag.SocietySubscriptionID }, new { @class = "EditDelete" })
                |
                @Html.ActionLink("Delete", "Delete", new { id = item.SocietyBuildingUnitChargeHeadID, societySubscriptionID = ViewBag.SocietySubscriptionID }, new { @class = "EditDelete" })
            </td>
            <td>
                @item.Head
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rate)
            </td>
        </tr>
           Count = Count + 1;
    }
    @if (Count == 1)
    {
        <tr class="TableRow">
            <td>
                Currently there are no Records
            </td>
        </tr> 
    }
</table>
<br />
<div>
    @Html.ActionLink("Back to Building Unit List", "Index", "SocietyBuildingUnit", new { societyBuildingID = societyBuildingUnit.SocietyBuilding.SocietyBuildingID, societySubscriptionID = ViewBag.SocietySubscriptionID }, new { @class = "EditDelete" })
</div>
