@model IEnumerable<CloudSocietyEntities.AcTransactionAc>
@{
    ViewBag.Title = "Bank Reconciliation";
    ViewBag.Header = "Bank Reconciliation";
    ViewBag.SocietyNameHeader = ViewBag.SocietyHead;
    Layout = "~/Views/Shared/SocietyLayout.cshtml";
    Boolean setValue = (Boolean)ViewBag.SetValues;
    //if(setValue)
    //{
        var acHeadID = (Guid?)ViewBag.BankID;
        var fromDate = (DateTime?)ViewBag.FromDate;
        var toDate = (DateTime?)ViewBag.ToDate;
        var DCB = (String)ViewBag.DCB;
    @*}*@
}
<script src="@Url.Content("~/Scripts/DateFuncs.js")" type="text/javascript"></script>
@*==== Scripts to be added for AJAX calendar START ====*@
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/MicrosoftAjax.debug.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.ExtenderBase.BaseScripts.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.Common.Common.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.Common.DateTime.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.Animation.Animations.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.PopupExtender.PopupBehavior.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.Animation.AnimationBehavior.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.Common.Threading.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.Compat.Timer.Timer.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.Calendar.CalendarBehavior.js")"
        type="text/javascript"></script>
<script type="text/javascript">
    Sys.Application.add_init(appInit);
    function appInit() {
        $create(AjaxControlToolkit.CalendarBehavior, { format: "dd-MMM-yyyy" }, null, null, $get('FromDate'));
        $create(AjaxControlToolkit.CalendarBehavior, { format: "dd-MMM-yyyy" }, null, null, $get('ToDate'));
        $create(AjaxControlToolkit.CalendarBehavior, { format: "dd-MMM-yyyy" }, null, null, $get('Reconciled'));
    }
    
</script>
@*==== END ====*@
<script type="text/javascript" language="javascript">
    function CheckNullInput() {
        if (CompareTwoDates()) {
            if (document.getElementById("AcHeadID").value == "") {
                alert(" Select Account Head !!");
                return false;
            }
            else {
                return true;
            }
        }
        else {
            return false;
        }
    }
</script>
@using (Html.BeginForm("BankReconciliation", "AcTransactionAc", FormMethod.Post))
{
    @Html.ValidationSummary(false, "Following errors occurred while processing your request")
    <fieldset style="width: 600px" class="view">
        <legend>Fill The Following Fields</legend>
        <table>
            <tr>
                <td>
                    From Date :
                </td>
                <td>
                    @if(setValue)
                    {
                        @Html.TextBox("FromDate", fromDate, new { @class = "shortWidth" })
                    }
                    else
                    {
                        @Html.TextBox("FromDate", null, new { @class = "shortWidth" })
                    }
                </td>
                <td>
                    To Date :
                </td>
                <td>
                    @if(setValue)
                    {
                        @Html.TextBox("ToDate", toDate, new { @class = "shortWidth" })
                    }
                    else
                    {
                        @Html.TextBox("ToDate", null, new { @class = "shortWidth" })
                    }
                </td>
                <td>
                    Debit/Credit :
                </td>
                <td>
                    @if(setValue)
                    {
                    @*@Html.DropDownList("DrCr", DrCr, ViewBag.DrCrList as SelectList)*@
                    @Html.DropDownList("DCB", ViewBag.DrCrList as SelectList)
                    }
                    else
                    {
                    @Html.DropDownList("DCB", ViewBag.DrCrList as SelectList)
                    }
                </td>
            </tr>
            <tr>
                <td>
                    Account Head :
                </td>
                <td colspan="5">
                    @if(setValue)
                    {
                    @*@Html.DropDownList("AcHeadID", acHeadID.ToString(), new SelectList(ViewBag.AcHeadList as System.Collections.IEnumerable, "AcHeadID", "Name"), "<- Select Account Head->")*@
                    @Html.DropDownList("AcHeadID", new SelectList(ViewBag.AcHeadList as System.Collections.IEnumerable, "AcHeadID", "Name"), "<- Select Account Head->")
                    }
                    else
                    {
                    @Html.DropDownList("AcHeadID", new SelectList(ViewBag.AcHeadList as System.Collections.IEnumerable, "AcHeadID", "Name"), "<- Select Account Head->")
                    }
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Reconciliation On :
                </td>
                <td>
                    @Html.TextBox("Reconciled", null, new { @class = "shortWidth" })
                </td>
                <td colspan="3">
                    Update only when reconciled date is blank :
                </td>
                <td>
                    @Html.CheckBox("UpdateOnlyBlank", true)
                </td>
            </tr>
            <tr>
                <td align="center" colspan="6">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="submit" value="Proceed" class="buttton" style="width: 67px; height: 23px;
                        vertical-align: middle;" onclick="return CheckNullInput();" />
                </td>
            </tr>
        </table>
    </fieldset>  
    @Html.Hidden("SocietySubscriptionID", (Guid)ViewBag.SocietySubscriptionID)          
}
<div>
    @Html.ActionLink("Back", "Menu", "SocietySubscription", new { id = ViewBag.SocietySubscriptionID }, new { @class = "EditDelete" })
</div>
