@model IEnumerable<CloudSocietyEntities.AcTransactionAc>
@{
    ViewBag.Title = "Accounts";
    ViewBag.Header = "Account List";
    ViewBag.SocietyNameHeader = ViewBag.SocietyHead;
    Layout = "~/Views/Shared/SocietyLayout.cshtml";
    var AcTransaction = (CloudSocietyEntities.AcTransaction)ViewBag.AcTransaction;   
}
<link rel="stylesheet" type="text/css" href="http://cdn.webrupee.com/font" />
@*<span class="SocName">Document Type : @(AcTransaction.DocType == "CP" ? "Cash Payment" : (AcTransaction.DocType == "CR" ? "Cash Receipt" : (AcTransaction.DocType == "BP" ? "Bank Payment" : (AcTransaction.DocType == "BR" ? "Bank Receipt" : (AcTransaction.DocType == "PB" ? "Puchase Bill" : (AcTransaction.DocType == "EB" ? "Expense Bill" : (AcTransaction.DocType == "SB" ? "SocietyBill" : (AcTransaction.DocType == "JV" ? "Journal Voucher" : (AcTransaction.DocType == "MC" ? "Member Collection" : (AcTransaction.DocType == "OP" ? "Opening Balance" : (AcTransaction.DocType == "YC" ? "Year End Closing Entry" : "")))))))))))</span>*@
<span class="SocName">Document No : @(AcTransaction.DocNo)</span>
&nbsp; &nbsp;
<span class="SocName">Date : @String.Format("{0:dd-MMM-yyyy}", AcTransaction.DocDate)</span>
&nbsp; &nbsp;
@{
    decimal DrTotal = AcTransaction.DrAmount ?? 0;
    decimal CrTotal = AcTransaction.CrAmount ?? 0;
    decimal DiffTotal = 0;    
    <span class="SocName">Balance Amount : <span class="WebRupee">Rs </span>
        @if (DrTotal > CrTotal)
        {
            DiffTotal = DrTotal - CrTotal;   
            @Math.Abs(DiffTotal) <span>Cr.</span>
        }
        else if (DrTotal < CrTotal)
        {
            DiffTotal = CrTotal - DrTotal;   
            @Math.Abs(DiffTotal) <span>Dr.</span>
        }
        else
        {
            DiffTotal = CrTotal - DrTotal;   
            @Math.Abs(DiffTotal) 
        }</span>
}
<br />
<br />
<table>
    <tr>
        <td>
            @if (AcTransaction.DocType == "MC" || AcTransaction.DocType == "YC" || ((bool)ViewBag.ShowBillingMenu && AcTransaction.DocType == "SB") || (bool)ViewBag.YearClosed || (bool)ViewBag.Locked)
            {            
                    <div>
                    @*<input id="submit" type="submit" value="Create New" disabled="disabled" style="background-color: #CCCCCC;
                        width: 85px; height: 25px;" />*@</div>
                 
            }
            else
            {
                <div class="buttton" style="width: 65px;">
                    @Html.ActionLink("Create New", "Create", new { AcTransactionID = AcTransaction.AcTransactionID, SocietySubscriptionID = AcTransaction.SocietySubscriptionID })</div>
            }
        </td>
    </tr>
</table>
<br />
<table border="0" cellpadding="2" cellspacing="0" class="table">
    @{
        int Count = 1;
    }
    @foreach (var item in Model.OrderByDescending(a => a.DrCr))
    {
        if (Count == 1)
        {
        <tr>
            @if (AcTransaction.DocType == "MC" || AcTransaction.DocType == "YC" || ((bool)ViewBag.ShowBillingMenu && AcTransaction.DocType == "SB") || (bool)ViewBag.YearClosed || (bool)ViewBag.Locked)
            { 
                @*<a href="#" class="EditDelete" style="color: #CCCCCC">Edit</a> *@
            }
            else
            { <th>
                </th>
            }
            <th>
                Account Head
            </th>
            <th>
                Particular
            </th>
            <th align="right">
                Debit Amount
            </th>
            <th align="right">
                Credit Amount
            </th>
        </tr>
        }  
        <tr @if ((Count % 2) == 0)
            { <text> class="TableRow" </text> }
            else
            { <text> class="altTableRow" </text>} >
            @if (AcTransaction.DocType == "MC" || AcTransaction.DocType == "YC" || ((bool)ViewBag.ShowBillingMenu && AcTransaction.DocType == "SB") || (bool)ViewBag.YearClosed || (bool)ViewBag.Locked)
            { 
@*<a href="#" class="EditDelete" style="color: #CCCCCC">Edit</a> *@
            }
            else
            { <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.AcTransactionAcID }, new { @class = "EditDelete" })
                    |
                    @Html.ActionLink("Delete", "Delete", new { id = item.AcTransactionAcID }, new { @class = "EditDelete" })
                    @*| @Html.ActionLink("Details", "Details", new { id = item.SocietyMemberJointHolderID, societySubscriptionID = AcTransaction.SocietySubscriptionID }, new { @class = "EditDelete" })*@
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.AcHead.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Particulars)
            </td>
            <td align="right">
                @(item.DrCr == "D" ? (item.Amount.ToString()) : "-")
            </td>
            <td align="right">
                @(item.DrCr == "C" ? (item.Amount.ToString()) : "-")
            </td>
        </tr>
            Count = Count + 1;
    }
    @if (Count == 1)
    {
        <tr class="TableRow">
            <td>
                Currently there are no Records
            </td>
        </tr> 
    }
    else
    {
        <tr>
            @if (AcTransaction.DocType == "MC" || AcTransaction.DocType == "YC" || ((bool)ViewBag.ShowBillingMenu && AcTransaction.DocType == "SB") || (bool)ViewBag.YearClosed || (bool)ViewBag.Locked)
            { 
                <td colspan="2" align="right">
                    Total :
                </td>
            }
            else
            {  
                <td colspan="3" align="right">
                    Total :
                </td>
            }
            <td align="right">
                <span class="WebRupee">Rs&nbsp;&nbsp;</span>@DrTotal
            </td>
            <td align="right">
                <span class="WebRupee">Rs&nbsp;&nbsp;</span>@CrTotal
            </td>
        </tr>  
    }
</table>
<br />
@if (AcTransaction.DocType == "OP" || AcTransaction.DocType == "YC")
{
    <div>
        @Html.ActionLink("Back", "Menu", "SocietySubscription", new { id = AcTransaction.SocietySubscriptionID }, new { @class = "EditDelete" })
    </div>
}
else
{ 
    <div>
        @Html.ActionLink("Back to AcTransaction List", "Index", "AcTransaction", new { SocietySubscriptionID = AcTransaction.SocietySubscriptionID, docType = AcTransaction.DocType }, new { @class = "EditDelete" })
    </div>
}