@model CloudSocietyEntities.TDSCategory
@{
    ViewBag.Title = "Create TDS Category";
    ViewBag.Header = "TDS Category";   
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(false, "Following errors occurred while processing your request")
    <fieldset style="width: 500px">
        <legend>Create TDS Category</legend>
        <br />
        <table border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td class="editor-label">
                    @Html.LabelFor(model => model.Category) :
                </td>
                <td>
                    @Html.EditorFor(model => model.Category)<span class="editor-field">
                        @Html.ValidationMessageFor(model => model.Category)</span>
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    @Html.Label("Ac Head :")
                </td>
                <td class="editor-field">
                    @Html.DropDownList("AcHeadID", new SelectList(ViewBag.Standardtds as System.Collections.IEnumerable, "AcHeadID", "AcHead"), "<- Select AcHead ->")
                    @Html.ValidationMessageFor(model => model.AcHeadID)
                </td>
            </tr>
            <tr>
                <td class="editor-label">
                    @Html.LabelFor(model => model.Section) :
                </td>
                <td>
                   @Html.TextBox("Section")
                   <span class="editor-field">@Html.ValidationMessageFor(model => model.Section)</span>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="Create" class="buttton" style="width: 45px; height: 23px;
                        vertical-align: middle;" />
                </td>
            </tr>
        </table>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "EditDelete" })
</div>
