@model CloudSocietyEntities.AcTransaction
@{
    ViewBag.Title = "Account Transaction Details";
    ViewBag.Header = "Account Transaction";
    ViewBag.SocietyNameHeader = ViewBag.SocietyHead;
    Layout = "~/Views/Shared/SocietyLayout.cshtml";
    decimal DrTotal = 0, CrTotal = 0;
}
<fieldset style="width: 600px">
    <legend>Account Transaction Details</legend>
    <br />
    <table  style="width: 100%;" class="table">
        <tr>
            <td>
                Document No : @Model.DocNo
            </td>
            <td align="right">
                Document Date : @String.Format("{0:dd-MMM-yyyy}", Model.DocDate)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                Particular : @Model.Particulars
            </td>
        </tr>
        @if (Model.DocType != "JV")
        {       
            <tr>
                <td colspan="2">
                    Account Head : @Model.AcHead.Name
                </td>
            </tr>
        }
        @if (Model.DocType == "BP")
        {           
            <tr>
                <td colspan="2">
                    Cheque No. : @Model.PayRefNo
                </td>
            </tr>            
        }
        @if (Model.DocType == "BR")
        {  
            <tr>
                <td colspan="2">
                    Pay Mode : @Model.SocietyPayMode.PayMode
                </td>
            </tr>                  
            <tr>
                <td colspan="2">
                    Pay Ref. No : @Model.PayRefNo
                </td>
            </tr>                 
            <tr>
                <td colspan="2">
                    Pay Ref. Date : @String.Format("{0:dd-MMM-yyyy}", Model.PayRefDate)
                </td>
            </tr>                     
            <tr>
                <td colspan="2">
                    Bank : @(Model.Bank != null ? Model.Bank.Name : "")
                </td>
            </tr>                  
            <tr>
                <td colspan="2">
                    Branch : @Model.Branch 
                </td>
            </tr>     
        }
        @if (Model.DocType == "SB" || Model.DocType == "EB")
        {            
            <tr>
                <td colspan="2">
                    Bill No : @Model.BillNo 
                </td>
            </tr>     
                
            <tr>
                <td colspan="2">
                    Bill Date : @String.Format("{0:dd-MMM-yyyy}", Model.BillDate)
                </td>
            </tr>                
        }
        @if (Model.DocType == "PB")
        { 
            <tr>
                <td colspan="2">
                    Bill No : @Model.BillNo
                </td>
            </tr>    
                
            <tr>
                <td colspan="2">
                    Bill Date : @String.Format("{0:dd-MMM-yyyy}", Model.BillDate)
                </td>
            </tr>                  
            <tr>
                <td colspan="2">
                    Delivery Doc No : @Model.DelDocNo 
                </td>
            </tr>                          
            <tr>
                <td colspan="2">
                    Delivery Doc Date : @String.Format("{0:dd-MMM-yyyy}", Model.DelDocDate)
                </td>
            </tr>                   
        }
    </table>
    <br />
    <table style="width: 100%;" class="table">
        <tr>
            <th align="center">
                Account
            </th>
            <th align="center">
                Particular
            </th>
            <th align="right">
                Dr Amount
            </th>
            <th align="right">
                Cr Amount
            </th>
        </tr>
        @foreach (var AcTransAc in Model.AcTransactionAcs.OrderByDescending(a => a.DrCr))
        { 
            <tr>
                <td>
                    @AcTransAc.AcHead.Name
                </td>
                <td>
                    @AcTransAc.Particulars
                </td>
                <td align="right">
                    @(AcTransAc.DrCr == "D" ? AcTransAc.Amount + "" : "-")
                </td>
                <td align="right">
                    @(AcTransAc.DrCr == "C" ? AcTransAc.Amount + "" : "-")
                </td>
            </tr>
                DrTotal += AcTransAc.DrCr == "D" ? AcTransAc.Amount : 0;
                CrTotal += AcTransAc.DrCr == "C" ? AcTransAc.Amount : 0;
        }
        <tr>
            <td align="right" colspan="2">
                Total :
            </td>
            <td align="right">
                @DrTotal
            </td>
            <td align="right">
                @CrTotal
            </td>
        </tr>
    </table>
</fieldset>
<div>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.AcTransactionID }, new { @class = "EditDelete" })
    |*@
    @Html.ActionLink(" Print ", "Print", new { id = Model.AcTransactionID }, new { target = "_blank", @class = "EditDelete" })
    |
    @Html.ActionLink("Back to List", "Index", new { societySubscriptionID = Model.SocietySubscriptionID, docType = Model.DocType }, new { @class = "EditDelete" })
</div>