<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Print Account Transaction</title>
    @model CloudSocietyEntities.AcTransaction
@{   
    Layout = null;
    decimal DrTotal = 0, CrTotal = 0;
}
    <style type="text/css">
        .table
        {
            /*background-color: Maroon;*/
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            color: #000000;
            border-collapse: collapse;
            border: 1px solid #000000;
            /*margin-left: 30px;*/
        }
        .table th
        {
            font-weight: bold;
            text-align: center;
            border: 1px solid #000000;
        }
        .table td
        {
            border: 1px solid #000000;
        }
    </style>
</head>
<body onload="javascript:window.print()">
    <fieldset style="width: 600px; margin-left: 100px">
        <center>
            <table style="width: 85%;">
                <tr>
                    <td>
                        <div align="center" style="font-size: 15px">
                            <strong>@Model.Society.Name </strong>
                        </div>
                        <div align="center" style="font-size: 11px">
                            Regd. No. : @Model.Society.RegistrationNo Dated : @String.Format("{0:dd-MMM-yyyy}", Model.Society.RegistrationDate)
                            ,
                            @(Model.Society.TaxRegistrationNo == null ? "" : "Service Tax No. : " + Model.Society.TaxRegistrationNo)
                        </div>
                        <div align="center" style="font-size: 13px">
                            @Model.Society.Address ,
                            @Model.Society.City - @Model.Society.PIN</div>
                    </td>
                </tr>
            </table>
            <center>
                @if (Model.DocType == "BP")
                {<strong>BANK PAYMENT VOUCHER</strong> }
                @if (Model.DocType == "BR")
                {<strong>BANK RECEIPT VOUCHER</strong> }
                @if (Model.DocType == "CP")
                {<strong>CASH PAYMENT VOUCHER</strong> }
                @if (Model.DocType == "CR")
                {<strong>CASH RECEIPT VOUCHER</strong> }
                @if (Model.DocType == "JV")
                {<strong>JOURNAL VOUCHER</strong> }
                @if (Model.DocType == "SB")
                {<strong> BILL </strong> }
                @if (Model.DocType == "EB")
                {<strong>EXPENSE PURCHASE VOUCHER</strong> }
                @if (Model.DocType == "PB")
                {<strong>PURCHASE VOUCHER</strong> }
            </center>
        </center>
        <table style="width: 100%;" cellpadding="4" class="table">
            <tr>
                <td>
                    Document No : @Model.DocNo
                </td>
                <td align="right">
                    Document Date : @String.Format("{0:dd-MMM-yyyy}", Model.DocDate)
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    Particular : @Model.Particulars
                </td>
            </tr>
            @if (Model.DocType != "JV")
            {       
                <tr>
                    <td colspan="2">
                        Account Head : @Model.AcHead.Name
                    </td>
                </tr>
            }
            @if (Model.DocType == "BP")
            {           
                <tr>
                    <td colspan="2">
                        Cheque No. : @Model.PayRefNo
                    </td>
                </tr>            
            }
            @if (Model.DocType == "BR")
            {  
                <tr>
                    <td colspan="2">
                        Pay Mode : @Model.SocietyPayMode.PayMode
                    </td>
                </tr>                  
                <tr>
                    <td colspan="2">
                        Pay Ref. No : @Model.PayRefNo
                    </td>
                </tr>                 
                <tr>
                    <td colspan="2">
                        Pay Ref. Date : @String.Format("{0:dd-MMM-yyyy}", Model.PayRefDate)
                    </td>
                </tr>                     
                <tr>
                    <td colspan="2">
                        Bank : @(Model.Bank != null ? Model.Bank.Name : "")
                    </td>
                </tr>                  
                <tr>
                    <td colspan="2">
                        Branch : @Model.Branch
                    </td>
                </tr>     
            }
            @if (Model.DocType == "SB" || Model.DocType == "EB")
            {            
                <tr>
                    <td colspan="2">
                        Bill No : @Model.BillNo
                    </td>
                </tr>     
                
                <tr>
                    <td colspan="2">
                        Bill Date : @String.Format("{0:dd-MMM-yyyy}", Model.BillDate)
                    </td>
                </tr>                
            }
            @if (Model.DocType == "PB")
            { 
                <tr>
                    <td colspan="2">
                        Bill No : @Model.BillNo
                    </td>
                </tr>    
                
                <tr>
                    <td colspan="2">
                        Bill Date : @String.Format("{0:dd-MMM-yyyy}", Model.BillDate)
                    </td>
                </tr>                  
                <tr>
                    <td colspan="2">
                        Delivery Doc No : @Model.DelDocNo
                    </td>
                </tr>                          
                <tr>
                    <td colspan="2">
                        Delivery Doc Date : @String.Format("{0:dd-MMM-yyyy}", Model.DelDocDate)
                    </td>
                </tr>                   
            }
        </table>
        <br />
        <table style="width: 100%;" cellpadding="4" class="table">
            <tr>
                <th align="center">
                    Account
                </th>
                <th align="center">
                    Particular
                </th>
                <th align="right">
                    Dr Amount
                </th>
                <th align="right">
                    Cr Amount
                </th>
            </tr>
            @foreach (var AcTransAc in Model.AcTransactionAcs.OrderByDescending(a=>a.DrCr))
            { 
                <tr>
                    <td>
                        @AcTransAc.AcHead.Name
                    </td>
                    <td>
                        @AcTransAc.Particulars
                    </td>
                    <td align="right">
                        @(AcTransAc.DrCr == "D" ? AcTransAc.Amount + "" : "-")
                    </td>
                    <td align="right">
                        @(AcTransAc.DrCr == "C" ? AcTransAc.Amount + "" : "-")
                    </td>
                </tr>
                    DrTotal += AcTransAc.DrCr == "D" ? AcTransAc.Amount : 0;
                    CrTotal += AcTransAc.DrCr == "C" ? AcTransAc.Amount : 0;
            }
            <tr>
                <td align="right" colspan="2">
                    Total :
                </td>
                <td align="right">
                    @DrTotal
                </td>
                <td align="right">
                    @CrTotal
                </td>
            </tr>
        </table>
        <table style="width: 100%;" cellpadding="4">
            <tr align="right">
                <td align="right">
                    <strong>For @Model.Society.Name.ToUpper()</strong>
                </td>
            </tr>
        </table>
        <table style="width: 100%;" cellpadding="4">
            <tr>
                <td colspan="2">
                    <div>
                        &nbsp;
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <div>
                        &nbsp;
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="1" align="left">
                    <strong>Received/Paid/Checked By :</strong>
                </td>
                <td colspan="2" align="right">
                    <strong>@Model.Society.Signatory</strong>
                </td>
            </tr>
        </table>
    </fieldset>
</body>
</html>
