@model IEnumerable<CloudSocietyEntities.User>
@{
    ViewBag.Title = "User";
    ViewBag.Header = "List of " + ViewBag.Role + " Users";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
@{
    var subscriber = (CloudSocietyEntities.Subscriber)ViewBag.Subscriber;
}
@if (subscriber != null)
{
    <h4>@subscriber.Name</h4>
}
@if (ViewBag.Role == "TrialUser")
{
    <div class="buttton" style="width: 65px;">
        @Html.ActionLink("Create New", "RegisterTrialUser", new { Back = ViewBag.Role })
    </div>
}
else
{
    <div class="buttton" style="width: 65px;">
        @Html.ActionLink("Create New", "Register", new { role = ViewBag.Role })
    </div>
}
<br />
<table border="0" cellpadding="2" cellspacing="0" class="table">
    @{
        int Count = 1;
    }
    @foreach (var item in Model)
    {
        if (Count == 1)
        {
        <tr>
            <th>
            </th>
            <th>
                UserName
            </th>
            <th>
                RoleName
            </th>
            @if (ViewBag.Role == "TrialUser")
            {
                <th>
                    Mobile
                </th>
            }
            <th>
                Email
            </th>
            <th>
                Created On
            </th>
        </tr>

        }
        <tr @if ((Count % 2) == 0)
            { <text> class="TableRow" </text> }
            else
            { <text> class="altTableRow" </text>} >
            <td>
                @if (item.IsLockedOut)
                {
                    @Html.ActionLink("UnLock", "UnLock", new { username = item.UserName, role = ViewBag.Role }, new { @class = "EditDelete" })
                }
                &nbsp;&nbsp;
                @if (item.IsApproved)
                {
                    @Html.ActionLink("DeActivate", "Approve", new { id = item.UserId, approve = false, role = ViewBag.Role }, new { @class = "EditDelete" })
                }
                else
                {
                    @Html.ActionLink("Activate", "Approve", new { id = item.UserId, approve = true, role = ViewBag.Role }, new { @class = "EditDelete" })
                }
            </td>
            <td>
                @item.UserName
            </td>
            <td>
                @item.RoleName
            </td>
            @if (ViewBag.Role == "TrialUser")
            {
                <td>
                    @item.Mobile
                </td>
            }
            <td>
                @item.Email
            </td>
            <td>
                @String.Format("{0:dd-MMM-yyyy}", item.CreateDate)
            </td>
        </tr>
    
           Count = Count + 1;

    }
    @if (Count == 1)
    {<tr class="TableRow">
        <td>
            Currently there are no Records
        </td>
    </tr> }
</table>
<br />
<br />
@if (ViewBag.Role == "SocietyAdmin" || ViewBag.Role == "SocietyUser" || ViewBag.Role == "CompanyUser")
{
    @Html.ActionLink("Back to List", "Index", "Society", null, new { @class = "EditDelete" })
}
@*else
{
    @Html.ActionLink("Back to List", "AdminIndex", "Home", null, new { @class = "EditDelete" })
}
*@