@{ 
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "About Us";
}
<table width="922" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="190" height="607" align="left" valign="top">
            <table width="190" height="10" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="left" valign="top">
                    </td>
                </tr>
            </table>
            <table width="190" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="27" height="36" align="right" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        <img src="@Url.Content("~/Content/Images/arrow-red.jpg")" width="17" height="13" />
                    </td>
                    <td width="163" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        @Html.ActionLink("About us", "AboutUs", "Home", null, new { @class = "redleft" })
                    </td>
                </tr>
                <tr>
                    <td height="36" align="right" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        <img src="@Url.Content("~/Content/Images/arrow-red.jpg")" width="17" height="13" />
                    </td>
                    <td height="36" align="left" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        @Html.ActionLink("Our Vision", "Vision", "Home", null, new { @class = "redleft" })
                    </td>
                </tr>
                <tr>
                    <td height="36" align="right" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        <img src="@Url.Content("~/Content/Images/arrow-red.jpg")" width="17" height="13" />
                    </td>
                    <td height="36" align="left" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        @Html.ActionLink("Our Mission", "Mission", "Home", null, new { @class = "redleft" })
                    </td>
                </tr>
                <tr>
                    <td height="36" align="right" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        <img src="@Url.Content("~/Content/Images/arrow-red.jpg")" width="17" height="13" />
                    </td>
                    <td height="36" align="left" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        @Html.ActionLink("Our Clientele", "Clientele", "Home", null, new { @class = "redleft" })
                    </td>
                </tr>
                <tr>
                    <td height="36" align="right" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        <img src="@Url.Content("~/Content/Images/arrow-red.jpg")" width="17" height="13" />
                    </td>
                    <td height="36" align="left" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        @Html.ActionLink("The Team", "Team", "Home", null, new { @class = "redleft" })
                    </td>
                </tr>
                <tr>
                    <td height="36" align="right" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        <img src="@Url.Content("~/Content/Images/arrow-red.jpg")" width="17" height="13" />
                    </td>
                    <td height="36" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        @Html.ActionLink("Contact us", "ContactUs", "Home", null, new { @class = "redleft" })
                    </td>
                </tr>
            </table>
            <br />
            <img src="@Url.Content("~/Content/Images/ad2.jpg")" width="192" height="299" />
        </td>
        <td width="10" align="left" valign="top">
            &nbsp;
        </td>
        <td align="left" valign="top">
            <table width="237" height="8" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                    </td>
                </tr>
            </table>
            <table width="722" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="722" height="599" align="left" valign="top">
                        <table width="722" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td width="722" height="217" align="left" valign="top">
                                    <img src="@Url.Content("~/Content/Images/aboutus.jpg")" width="722" height="218" />
                                </td>
                            </tr>
                        </table>
                        <table width="719" border="0" align="center" cellpadding="3" cellspacing="0">
                            <tr>
                                <td height="381">
                                    <span class="forcustomer">
                                        <br />
                                        <span class="greysmall">
                                            <img src="@Url.Content("~/Content/Images/arrow-red.jpg")" width="17" height="13" /></span><strong>Who
                                                we are</strong></span><br />
                                    <br />
                                    <span class="forcustomer"><strong>&ldquo;We sow seeds. We grow plants. We care trees,
                                        so our society could reap their fruits continuously&rdquo;</strong></span>
                                    <p align="justify" class="forcustomer">
                                        Cloud Computing TechSolutions Pvt. Ltd. is registered in Mumbai ROC on 30th September,
                                        2010 to provide services to cooperative housing society for their Billing, Account
                                        and Audit via Software-As-A-Service (S-a-a-S) module deployed on cloud platform.
                                        We conducted research study in this segment and found it to be under-serviced in
                                        the IT domain.
                                    </p>
                                    <p align="justify" class="forcustomer">
                                        We are a group of committed and dedicated civil society people came together based
                                        on cooperation to serve housing societies.<br />
                                        <br />
                                        <span class="redline">----------------------------------------------------------------------------------------------------------------------------------------------</span></p>
                                    <p align="justify">
                                        <span class="greysmall">
                                            <img src="@Url.Content("~/Content/Images/arrow-red.jpg")" width="17" height="13" /></span><span
                                                class="forcustomer"><strong>What we do</strong></span><span class="greysmall"><br />
                                                </span>
                                        <br />
                                        <span class="forcustomer">We closely work with housing societies to set up their Billing,
                                            Accounting &amp; Auditing system to overcome their complicated administrative problems
                                            and also help office bearer to make big decisions affecting revenue management,
                                            general administration and legal guidelines to maintain peaceful environment in
                                            society premises. </span>
                                    </p>
                                    <p align="justify">
                                        <span class="forcustomer">We offer our web based software application to housing societies
                                            where data will be protected for next 10 years even if you discontinue the services.
                                        </span>
                                        <br />
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
