@{ 
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "Contact Us";
}
<table width="922" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="190" height="235" align="left" valign="top">
            <table width="190" height="10" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="left" valign="top">
                    </td>
                </tr>
            </table>
            <table width="190" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="27" height="36" align="right" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        <img src="@Url.Content("~/Content/Images/arrow-red.jpg")" width="17" height="13" />
                    </td>
                    <td width="163" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        @Html.ActionLink("About us", "AboutUs", "Home", null, new { @class = "redleft" })
                    </td>
                </tr>
                <tr>
                    <td height="36" align="right" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        <img src="@Url.Content("~/Content/Images/arrow-red.jpg")" width="17" height="13" />
                    </td>
                    <td height="36" align="left" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        @Html.ActionLink("Our Vision", "Vision", "Home", null, new { @class = "redleft" })
                    </td>
                </tr>
                <tr>
                    <td height="36" align="right" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        <img src="@Url.Content("~/Content/Images/arrow-red.jpg")" width="17" height="13" />
                    </td>
                    <td height="36" align="left" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        @Html.ActionLink("Our Mission", "Mission", "Home", null, new { @class = "redleft" })
                    </td>
                </tr>
                <tr>
                    <td height="36" align="right" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        <img src="@Url.Content("~/Content/Images/arrow-red.jpg")" width="17" height="13" />
                    </td>
                    <td height="36" align="left" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        @Html.ActionLink("Our Clientele", "Clientele", "Home", null, new { @class = "redleft" })
                    </td>
                </tr>
                <tr>
                    <td height="36" align="right" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        <img src="@Url.Content("~/Content/Images/arrow-red.jpg")" width="17" height="13" />
                    </td>
                    <td height="36" align="left" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        @Html.ActionLink("The Team", "Team", "Home", null, new { @class = "redleft" })
                    </td>
                </tr>
                <tr>
                    <td height="36" align="right" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        <img src="@Url.Content("~/Content/Images/arrow-red.jpg")" width="17" height="13" />
                    </td>
                    <td height="36" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        @Html.ActionLink("Contact us", "ContactUs", "Home", null, new { @class = "redleft" })
                    </td>
                </tr>
            </table>
            <br />
            <img src="@Url.Content("~/Content/Images/ad2.jpg")" width="192" height="299" />
        </td>
        <td width="10" align="left" valign="top">
            &nbsp;
        </td>
        <td align="left" valign="top">
            <table width="237" height="8" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                    </td>
                </tr>
            </table>
            <table width="722" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="722" height="217" align="left" valign="top">
                        <img src="@Url.Content("~/Content/Images/conatact.jpg")" width="722" height="218" /><br />
                        <p>
                            <span class="greytext">
                                <img src="@Url.Content("~/Content/Images/arrow-red.jpg")" width="17" height="13" /></span><span
                                    class="grey">Corporate Office </span><span class="greytext">
                                        <br />
                                        <br />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>&nbsp;</strong></span><span class="greytext"><strong>Cloud
                                            Computing TechSolutions Pvt. Ltd.</strong></span><span class="greytext"><br />
                                            </span><span class="greytext">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;413, Orbit Industrial
                                                Estate,
                                                <br />
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mind Space, Malad(W),
                                                <br />
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mumbai - 400064.<br />
                                            </span><span class="greytext">
                                                <br />
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="greysmall">&nbsp;Call :</span><span
                                                    class="greytext"> +91-22-42666657</span></p>
                        <p class="redline">
                            ------------------------------------------------------------------------------------------------------------------------------------------------</p>
                        <p>
                            <span class="greytext">
                                <img src="@Url.Content("~/Content/Images/arrow-red.jpg")" width="17" height="13" /></span><span
                                    class="grey">Email</span><span class="greytext"><br />
                                    </span><span >
                                        <br />
                                        &nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:enquiry@cloudsociety.in" class="greytext">&nbsp; enquiry@cloudsociety.in
                                        </a>
                                        <br />
                                        <br />
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br />
                                    </span>
                        </p>
                        <p>
                            &nbsp;</p>
                        <p>
                            <br />
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table width="922" height="10" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="918" height="10">
        </td>
    </tr>
</table>
