@{ 
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "Cloud computing";
}
<table width="922" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="190" height="851" align="left" valign="top">
            <table width="190" height="10" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="left" valign="top">
                    </td>
                </tr>
            </table>
            <table width="190" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="27" height="36" align="right" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        <img src="@Url.Content("~/Content/Images/arrow-red.jpg")" width="17" height="13" />
                    </td>
                    <td width="163" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        @Html.ActionLink("About us", "AboutUs", "Home", null, new { @class = "redleft" })
                    </td>
                </tr>
                <tr>
                    <td height="36" align="right" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        <img src="@Url.Content("~/Content/Images/arrow-red.jpg")" width="17" height="13" />
                    </td>
                    <td height="36" align="left" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        @Html.ActionLink("Our Vision", "Vision", "Home", null, new { @class = "redleft" })
                    </td>
                </tr>
                <tr>
                    <td height="36" align="right" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        <img src="@Url.Content("~/Content/Images/arrow-red.jpg")" width="17" height="13" />
                    </td>
                    <td height="36" align="left" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        @Html.ActionLink("Our Mission", "Mission", "Home", null, new { @class = "redleft" })
                    </td>
                </tr>
                <tr>
                    <td height="36" align="right" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        <img src="@Url.Content("~/Content/Images/arrow-red.jpg")" width="17" height="13" />
                    </td>
                    <td height="36" align="left" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        @Html.ActionLink("Our Clientele", "Clientele", "Home", null, new { @class = "redleft" })
                    </td>
                </tr>
                <tr>
                    <td height="36" align="right" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        <img src="@Url.Content("~/Content/Images/arrow-red.jpg")" width="17" height="13" />
                    </td>
                    <td height="36" align="left" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        @Html.ActionLink("The Team", "Team", "Home", null, new { @class = "redleft" })
                    </td>
                </tr>
                <tr>
                    <td height="36" align="right" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        <img src="@Url.Content("~/Content/Images/arrow-red.jpg")" width="17" height="13" />
                    </td>
                    <td height="36" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        @Html.ActionLink("Contact us", "ContactUs", "Home", null, new { @class = "redleft" })
                    </td>
                </tr>
            </table>
            <br />
            <img src="@Url.Content("~/Content/Images/ad2.jpg")" width="192" height="299" />
        </td>
        <td width="10" align="left" valign="top">
            &nbsp;
        </td>
        <td align="left" valign="top">
            <table width="237" height="8" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                    </td>
                </tr>
            </table>
            <table width="722" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="722" height="843" align="left" valign="top">
                        <table width="722" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td width="722" height="217" align="left" valign="top">
                                    <img src="@Url.Content("~/Content/Images/cs.jpg")" width="722" height="218" />
                                </td>
                            </tr>
                        </table>
                        <table width="719" border="0" cellpadding="3" cellspacing="0">
                            <tr>
                                <td>
                                    <table width="708" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td align="left" valign="top">
                                                <p class="forcustomer">
                                                    <br />
                                                    Managing a housing society is a voluntary job in most places even today. It is done
                                                    by a group of members who are gracious enough to take some time off their busy schedules
                                                    and work together to ensure adequate maintenance of all the aspects of the society's
                                                    infrastructure. However, it's not easy to manage costs, outstanding amounts, remember
                                                    the exact method of calculating interests on outstanding payments, account for certain
                                                    ad-hoc expenses, and stay abreast of all the rules and regulations that govern housing
                                                    societies. This is where we come in.</p>
                                                <p class="forcustomer">
                                                    Our solution aims to eliminate all the clerical work that inevitably comes with
                                                    managing funds and payments. To put it differently, our solution lets you utilize
                                                    maximum time for planning the activities instead of performing administrative tasks
                                                    such as creating logs, adding details of receipts, doing calculations, sending notices,
                                                    or even creating reports.<br />
                                                    <br />
                                                    We offer an innovative <strong>Software-as-a-Service (SaaS) </strong>solution that
                                                    is specifically designed to cater to the diverse financial needs of co-operative
                                                    housing societies. The same software also serves the accounting and auditing needs
                                                    of land lords, industrial estates, builders, and developers in India. The software
                                                    is web-based and can be accessed through computers as well as mobile phones with
                                                    the help of an Internet connection. All you have to do is log into your respective
                                                    accounts and assign all the administrative tasks to our software as per your requirements
                                                    -- the software will do the rest.</p>
                                                <p class="forcustomer">
                                                    We have designed our software for Indian housing societies, and therefore, we have
                                                    ensured that it is available across multiple Indian languages. That's because we
                                                    want our software to speak your language rather than have it the other way around.
                                                </p>
                                                <p class="forcustomer">
                                                    This system can be used for automatic bill generation, error-free and exact calculations
                                                    of interest as per the housing society rules, automatic bill delivery through email,
                                                    intimation about bills or receipts through SMS, capturing society details, tax deduction
                                                    at source (TDS), bank reconciliation, and raising and resolution of trouble tickets.
                                                </p>
                                                <p class="forcustomer">
                                                    The system allows for different user types such as Administrators, Channel Partners,
                                                    Society users, Guest users, Company users, Office Bearer of the society, Society
                                                    members, and Trainees to access the system at different levels. Each of these levels
                                                    can perform only specific functions thereby ensuring that no unauthorized person
                                                    makes any unwanted changes to the accounts.</p>
                                                <p class="forcustomer">
                                                    In other words, our service can accomplish the following functions for you:</p>
                                                <p class="forcustomer">
                                                    &bull; <span class="greysmall">Automate all the processes and minimize administrative
                                                        work</span></p>
                                                <p class="forcustomer">
                                                    &bull; <span class="greysmall">Ensure complete accuracy of information and make it available
                                                        at all time to all the relevant members</span></p>
                                                <p class="forcustomer">
                                                    &bull; <span class="greysmall">Absolute peace of mind</span></p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table width="922" height="10" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="918" height="10">
        </td>
    </tr>
</table>
<table width="922" height="1" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="906" height="13">
        </td>
    </tr>
    <tr>
        <td height="1" bgcolor="#F0F0F0">
        </td>
    </tr>
    <tr>
        <td height="15">
        </td>
    </tr>
</table>
