@{ 
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "Services";
}
<table width="922" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="190" height="941" align="left" valign="top">
            <table width="190" height="10" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="left" valign="top">
                    </td>
                </tr>
            </table>
            <table width="190" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="27" height="36" align="right" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        <img src="@Url.Content("~/Content/Images/arrow-red.jpg")" width="17" height="13" />
                    </td>
                    <td width="163" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        @Html.ActionLink("About us", "AboutUs", "Home", null, new { @class = "redleft" })
                    </td>
                </tr>
                <tr>
                    <td height="36" align="right" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        <img src="@Url.Content("~/Content/Images/arrow-red.jpg")" width="17" height="13" />
                    </td>
                    <td height="36" align="left" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        @Html.ActionLink("Our Vision", "Vision", "Home", null, new { @class = "redleft" })
                    </td>
                </tr>
                <tr>
                    <td height="36" align="right" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        <img src="@Url.Content("~/Content/Images/arrow-red.jpg")" width="17" height="13" />
                    </td>
                    <td height="36" align="left" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        @Html.ActionLink("Our Mission", "Mission", "Home", null, new { @class = "redleft" })
                    </td>
                </tr>
                <tr>
                    <td height="36" align="right" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        <img src="@Url.Content("~/Content/Images/arrow-red.jpg")" width="17" height="13" />
                    </td>
                    <td height="36" align="left" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        @Html.ActionLink("Our Clientele", "Clientele", "Home", null, new { @class = "redleft" })
                    </td>
                </tr>
                <tr>
                    <td height="36" align="right" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        <img src="@Url.Content("~/Content/Images/arrow-red.jpg")" width="17" height="13" />
                    </td>
                    <td height="36" align="left" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        @Html.ActionLink("The Team", "Team", "Home", null, new { @class = "redleft" })
                    </td>
                </tr>
                <tr>
                    <td height="36" align="right" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        <img src="@Url.Content("~/Content/Images/arrow-red.jpg")" width="17" height="13" />
                    </td>
                    <td height="36" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        @Html.ActionLink("Contact us", "ContactUs", "Home", null, new { @class = "redleft" })
                    </td>
                </tr>
            </table>
            <br />
            <img src="@Url.Content("~/Content/Images/ad2.jpg")" width="192" height="299" />
        </td>
        <td width="10" align="left" valign="top">
            &nbsp;
        </td>
        <td align="left" valign="top">
            <table width="237" height="8" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                    </td>
                </tr>
            </table>
            <table width="722" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="722" height="933" align="left" valign="top">
                        <img src="@Url.Content("~/Content/Images/services.jpg")" width="722" height="218" /><br />
                        <br />
                        <table width="719" border="0" align="center" cellpadding="3" cellspacing="0">
                            <tr>
                                <td width="713" align="left" valign="top">
                                    <table width="708" border="0" align="left" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td>
                                                <div align="justify">
                                                    <strong>
                                                        <img src="@Url.Content("~/Content/Images/arrow-red.jpg")" width="17" height="13" /></strong><strong
                                                            class="greysmall">Billing</strong><br />
                                                    <span class="greytext">
                                                        <br />
                                                        The software can be used for generating both regular as well as special event bills.
                                                        Bill generation command can be manual or automatic. The software can also be programmed
                                                        to automatically generate bills at predefined time and intervals. It can also keep
                                                        track of late and early payments and accordingly levy penalties or offer discounts
                                                        respectively.<br />
                                                    </span><span class="greytext">
                                                        <br />
                                                        The best part about moving your bill generation on our software is that once the
                                                        account configuration is done and all the relevant data entered into the application,
                                                        it can continue to manage the entire process automatically forever. This includes
                                                        not only creating and sending bills to all members automatically, but also sending
                                                        out payment reminder alerts to all the respective individuals as per the required
                                                        frequency.<br />
                                                    </span>
                                                    <br />
                                                    <span class="redline">---------------------------------------------------------------------------------------------------------------------------------------------</span>
                                                </div>
                                                <p align="justify">
                                                    <strong>
                                                        <img src="@Url.Content("~/Content/Images/arrow-red.jpg")" width="17" height="13" /></strong><strong
                                                            class="greysmall">Accounting</strong><br />
                                                    <span class="greytext">
                                                        <br />
                                                        We understand that while our platform is the perfect solution for all cooperative
                                                        housing societies, some societies may not have the resources or the time to perform
                                                        even their daily tasks on our platform, let alone manually on their own. Such societies
                                                        have only two options: either they can risk losing trail of all the accounts and
                                                        payments due to not being able to perform all the due diligence, or they can spend
                                                        thousands of rupees hiring professionals to do this job for them. This is where
                                                        our services come in.<br />
                                                        <br />
                                                        We provide complete end-to-end accounting services to housing societies for a reasonable
                                                        fee in which our representative visits the society's office in person, collects
                                                        all the documents, and hands it over to our in-house data entry team. Our team then
                                                        accurately enters this data onto your account on our platform and programs the software
                                                        as per your requirements.<br />
                                                        <br />
                                                        In other words, all you have to do is hand over your bills and other necessary documentation
                                                        to us, and we'll take care of everything from our end. Whenever you need any information
                                                        about your account, the members, or the finances, all you have to do is log in to
                                                        your account online and access the information.<br />
                                                    </span>
                                                    <br />
                                                    <span class="redline">---------------------------------------------------------------------------------------------------------------------------------------------</span></p>
                                                <p align="justify" class="greytext">
                                                    <span class="greysmall"><strong>
                                                        <img src="@Url.Content("~/Content/Images/arrow-red.jpg")" width="17" height="13" />Auditing<br />
                                                    </strong></span>
                                                    <br />
                                                    We have a team of CAs (Chartered Accountant), and GCAs (Government Certified Auditor),
                                                    which helps us perform all the auditing tasks at our end. Furthermore, in order
                                                    to improve accuracy and facilitate effective cross-checking of results, we offer
                                                    you two-way auditing services.<br />
                                                    <br />
                                                    The first step in this process is manual wherein our team members visit the societies,
                                                    collect the required documents, and prepare all the auditing reports manually based
                                                    on the information they receive. The second step involves the usage of our cloud
                                                    platform. Our team members visit the societies with a laptop or a Net PC, a scanner,
                                                    and an Internet modem so they can scan everything and upload the images to our server
                                                    online. This scanned data remains stored on our cloud until the auditing process
                                                    is completed and has been signed off. Our back office team then enters all the data
                                                    from the scanned images in the software and generates the report using that data.
                                                    The report thus generated is published on our platform online for the society members'
                                                    perusal. The manually created reports are also uploaded online and are accessible
                                                    through the society's account.</p>
                                            </td>
                                        </tr>
                                    </table>
                                    <p align="justify">
                                        <br />
                                        <br />
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
