@{ 
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "Sitemap";
}
<table width="922" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="190" height="235" align="left" valign="top">
            <table width="190" height="10" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="left" valign="top">
                    </td>
                </tr>
            </table>
            <table width="190" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="27" height="36" align="right" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        <img src="@Url.Content("~/Content/Images/arrow-red.jpg")" width="17" height="13" />
                    </td>
                    <td width="163" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        @Html.ActionLink("About us", "AboutUs", "Home", null, new { @class = "redleft" })
                    </td>
                </tr>
                <tr>
                    <td height="36" align="right" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        <img src="@Url.Content("~/Content/Images/arrow-red.jpg")" width="17" height="13" />
                    </td>
                    <td height="36" align="left" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        @Html.ActionLink("Our Vision", "Vision", "Home", null, new { @class = "redleft" })
                    </td>
                </tr>
                <tr>
                    <td height="36" align="right" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        <img src="@Url.Content("~/Content/Images/arrow-red.jpg")" width="17" height="13" />
                    </td>
                    <td height="36" align="left" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        @Html.ActionLink("Our Mission", "Mission", "Home", null, new { @class = "redleft" })
                    </td>
                </tr>
                <tr>
                    <td height="36" align="right" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        <img src="@Url.Content("~/Content/Images/arrow-red.jpg")" width="17" height="13" />
                    </td>
                    <td height="36" align="left" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        @Html.ActionLink("Our Clientele", "Clientele", "Home", null, new { @class = "redleft" })
                    </td>
                </tr>
                <tr>
                    <td height="36" align="right" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        <img src="@Url.Content("~/Content/Images/arrow-red.jpg")" width="17" height="13" />
                    </td>
                    <td height="36" align="left" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        @Html.ActionLink("The Team", "Team", "Home", null, new { @class = "redleft" })
                    </td>
                </tr>
                <tr>
                    <td height="36" align="right" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        <img src="@Url.Content("~/Content/Images/arrow-red.jpg")" width="17" height="13" />
                    </td>
                    <td height="36" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        @Html.ActionLink("Contact us", "ContactUs", "Home", null, new { @class = "redleft" })
                    </td>
                </tr>
            </table>
            <br />
            <img src="@Url.Content("~/Content/Images/ad2.jpg")" width="192" height="299" />
        </td>
        <td width="10" align="left" valign="top">
            &nbsp;
        </td>
        <td align="left" valign="top">
            <table width="237" height="8" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                    </td>
                </tr>
            </table>
            <table width="722" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="722" height="217" align="left" valign="top">
                        <table width="722" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td width="722" height="217" align="left" valign="top">
                                    <img src="@Url.Content("~/Content/Images/sm.jpg")" width="722" height="218" />
                                </td>
                            </tr>
                        </table>
                        <br />
                        <table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
                            <tr>
                                <td width="200" align="left" valign="top">
                                    <p>
                                        @Html.ActionLink("Home", "Index", "Home", null, new { @class = "greybold", @style = "font-size: 12px" })
                                    </p>
                                    <p>
                                        @Html.ActionLink("Product Features", "Productfeature", "Home", null, new { @class = "greybold", @style = "font-size: 12px" })
                                    </p>
                                    <p>
                                        @Html.ActionLink("Product Benefits", "Productbenefits", "Home", null, new { @class = "greybold", @style = "font-size: 12px" })
                                    </p>
                                    <p>
                                        @Html.ActionLink("Knowledge Centre", "CloudComputing", "Home", null, new { @class = "greybold", @style = "font-size: 12px" })</p>
                                </td>
                                <td width="200" align="left" valign="top">
                                    <p>
                                        @Html.ActionLink("Services", "Services", "Home", null, new { @class = "greybold", @style = "font-size: 12px" })
                                    </p>
                                    <p>
                                        @Html.ActionLink("About us", "AboutUs", "Home", null, new { @class = "greybold", @style = "font-size: 12px" })
                                    </p>
                                    <p>
                                        @Html.ActionLink("Our Mission", "Mission", "Home", null, new { @class = "greybold", @style = "font-size: 12px" })
                                    </p>
                                    <p>
                                        @Html.ActionLink("Our Vision", "Vision", "Home", null, new { @class = "greybold", @style = "font-size: 12px" })
                                    </p>
                                </td>
                                <td width="200" align="left" valign="top">
                                    <p>
                                        @Html.ActionLink("Our Clientele", "Clientele", "Home", null, new { @class = "greybold", @style = "font-size: 12px" })
                                    </p>
                                    <p>
                                        @Html.ActionLink("The Team", "Team", "Home", null, new { @class = "greybold", @style = "font-size: 12px" })
                                    </p>
                                    <p>
                                        @Html.ActionLink("Contact us", "ContactUs", "Home", null, new { @class = "greybold", @style = "font-size: 12px" })
                                    </p>
                                </td>
                            </tr>
                        </table>
                        <p class="forcustomer">
                            &nbsp;</p>
                        <p>
                            <span class="greybold">&nbsp;&nbsp;&nbsp;&nbsp;</span><br />
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
