@{ 
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    ViewBag.Title = "The Team";
}
<table width="922" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td width="190" height="700" align="left" valign="top">
            <table width="190" height="10" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td align="left" valign="top">
                    </td>
                </tr>
            </table>
            <table width="190" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="27" height="36" align="right" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        <img src="@Url.Content("~/Content/Images/arrow-red.jpg")" width="17" height="13" />
                    </td>
                    <td width="163" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        @Html.ActionLink("About us", "AboutUs", "Home", null, new { @class = "redleft" })
                    </td>
                </tr>
                <tr>
                    <td height="36" align="right" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        <img src="@Url.Content("~/Content/Images/arrow-red.jpg")" width="17" height="13" />
                    </td>
                    <td height="36" align="left" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        @Html.ActionLink("Our Vision", "Vision", "Home", null, new { @class = "redleft" })
                    </td>
                </tr>
                <tr>
                    <td height="36" align="right" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        <img src="@Url.Content("~/Content/Images/arrow-red.jpg")" width="17" height="13" />
                    </td>
                    <td height="36" align="left" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        @Html.ActionLink("Our Mission", "Mission", "Home", null, new { @class = "redleft" })
                    </td>
                </tr>
                <tr>
                    <td height="36" align="right" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        <img src="@Url.Content("~/Content/Images/arrow-red.jpg")" width="17" height="13" />
                    </td>
                    <td height="36" align="left" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        @Html.ActionLink("Our Clientele", "Clientele", "Home", null, new { @class = "redleft" })
                    </td>
                </tr>
                <tr>
                    <td height="36" align="right" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        <img src="@Url.Content("~/Content/Images/arrow-red.jpg")" width="17" height="13" />
                    </td>
                    <td height="36" align="left" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        @Html.ActionLink("The Team", "Team", "Home", null, new { @class = "redleft" })
                    </td>
                </tr>
                <tr>
                    <td height="36" align="right" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        <img src="@Url.Content("~/Content/Images/arrow-red.jpg")" width="17" height="13" />
                    </td>
                    <td height="36" valign="middle" background="@Url.Content("~/Content/Images/bg-menu.jpg")">
                        @Html.ActionLink("Contact us", "ContactUs", "Home", null, new { @class = "redleft" })
                    </td>
                </tr>
            </table>
            <br />
            <img src="@Url.Content("~/Content/Images/ad2.jpg")" width="192" height="299" />
        </td>
        <td width="10" align="left" valign="top">
            &nbsp;
        </td>
        <td align="left" valign="top">
            <table width="237" height="8" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                    </td>
                </tr>
            </table>
            <table width="722" border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="722" height="700" align="left" valign="top">
                        <img src="@Url.Content("~/Content/Images/team.jpg")" width="722" height="218" /><br />
                        <table width="719" border="0" align="left" cellpadding="3" cellspacing="0">
                            <tr>
                                <td>
                                    <span class="grey">
                                        <br />
                                    </span>
                                    <table width="708" border="0" align="left" cellpadding="0" cellspacing="0">
                                        <tr>
                                            <td>
                                                <div align="justify">
                                                    <span class="greysmall">
                                                        <img src="@Url.Content("~/Content/Images/arrow-red.jpg")" width="17" height="13" />Keval
                                                        Dhone, Founder Chairman & Managing Director</span>
                                                    <br />
                                                    <br />
                                                    <span class="forcustomer"><strong>Mr. Keval Dhone</strong> is a dynamic professional
                                                        who brings to the table more than 22 years of extensive experience in areas such
                                                        as teambuilding, leadership, program management, software development, project management,
                                                        IT infrastructure, software testing, and business development. Being an out-of-the-box
                                                        thinker, Mr. Dhone has a flair for charting out effective marketing strategies,
                                                        and he contributes immensely towards growth, enhancing business volumes, and achieving
                                                        profitability. He is a Commerce Graduate from Mumbai University and holds a PGD
                                                        in computer science. </span>
                                                    <br />
                                                    <br />
                                                    <span class="redline">---------------------------------------------------------------------------------------------------------------------------------------------</span>
                                                </div>

                                                <p align="justify">
                                                    <span class="greysmall">
                                                        <img src="@Url.Content("~/Content/Images/arrow-red.jpg")" width="17" height="13" />Amit Saxena,
                                                         Vice President<br />
                                                    </span>
                                                    <br />
                                                    <span class="greytext"><strong>Mr. Saxena</strong> </span><span class="forcustomer">
                                                         is a hard core technocrat who bring more than 11 years of experience from the top 
                                                        corporates like Microsoft, Dell & Core Technologies. He researched education related
                                                         Products & Technology that now, using by million students in INDIA. He posses 
                                                        expertise in Program Management, Project Management, Software Architecting, Development, 
                                                        Team Management, Technical Support & SDLC. Mr. Saxena holds a M. Tech. from IIT Roorkee.
                                                        </span><br />
                                                    <br />
                                                    <span class="redline">---------------------------------------------------------------------------------------------------------------------------------------------</span></p>

<!--                                                <p align="justify">
                                                    <span class="greysmall">
                                                        <img src="@Url.Content("~/Content/Images/arrow-red.jpg")" width="17" height="13" />Shuklendu
                                                        Baji, Director - Technology<br />
                                                    </span>
                                                    <br />
                                                    <span class="greytext"><strong>Mr. Baji's</strong> </span><span class="forcustomer">
                                                        love for Information Technology has led him to create a number of successful companies
                                                        in this field over the years. He brings with him more than 22 years of experience
                                                        in project management, strategic planning, business development, relationship management,
                                                        general administration, technical support, and SDLC. Mr. Baji holds an
                                                        <br />
                                                        Engineering Degree from IT-BHU and a PGD in Software Technology from NCST.</span><br />
                                                    <br />
                                                    <span class="redline">---------------------------------------------------------------------------------------------------------------------------------------------</span></p>
                                                <p align="justify">
                                                    <span class="grey"><span class="greysmall">
                                                        <img src="@Url.Content("~/Content/Images/arrow-red.jpg")" width="17" height="13" />Vinayak
                                                        Vaidya, Director - Marketing<br />
                                                    </span>
                                                        <br />
                                                    </span><span class="style1"><span class="greytext"><strong>Mr. Vaidya</strong> posses
                                                        40+ years of experience specialized in strategic planning, execution, leadership,
                                                        team building, marketing,
                                                        <br />
                                                        sales, network building,, finance, accounts &amp; HR. He implemented ISO 9000-2000
                                                        norms for quality. Long experience in finding
                                                        <br />
                                                        and retaining international clients for Software, Network and CAD/CAM services.
                                                        Experience in obtaining &amp; retaining fortune 500 clients from USA and Europe.
                                                        Mr. Vaidya holds an Engineering Degree from Nagpur University and a Diploma in Materials
                                                        Management.</span></span></p>
                                                <p>
                                                    <span class="redline">---------------------------------------------------------------------------------------------------------------------------------------------</span></p>
                                                <p align="justify">
                                                    <span class="greysmall">
                                                        <img src="@Url.Content("~/Content/Images/arrow-red.jpg")" width="17" height="13" />Ramesh
                                                        Prabhu</span><span class="greytext">, </span><span class="greysmall">Advisor to Board
                                                            of Director</span><span class="greytext"><br />
                                                                <br />
                                                                <strong>Mr. Prabhu</strong> is the chairman of Maharashtra Societies Welfare Association
                                                                and one of the most widely published figures on all matters related to housing societies.
                                                                He possesses more than 20 years of experience and has specialized expertise in cooperative
                                                                society matters including areas such as legal, finance, and audit. Mr. Prabhu is
                                                                also one of the Architects of the Deemed Conveyance Rules that was passed by the
                                                                Maharashtra Government recently and is a Chartered Accountant by profession.
                                                    </span>
                                                </p>
-->
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
