@model CloudSocietyEntities.SocietyMember
@{
    ViewBag.Title = "Delete Member";
    ViewBag.Header = " Member ";
    ViewBag.SocietyNameHeader = ViewBag.SocietyHead;
    Layout = "~/Views/Shared/SocietyLayout.cshtml";
    bool IsFullAccess = new CloudSociety.Controllers.AppInfoController().IsFullAccess();     
}
<div class="LabelDel">
    Are you sure you want to delete this?
</div>
<br />
@using (Html.BeginForm())
{
    @Html.HiddenFor(model=>model.Member) 
    @Html.ValidationSummary(false, "Following errors occurred while processing your request")  
    <fieldset style="width: 500px">
        <legend>Member Detail</legend>
        <table>
            <tr>
                <td>
                    Folio No :
                </td>
                <td>
                    @Html.DisplayFor(model => model.FolioNo)
                </td>
            </tr>
            <tr>
                <td>
                    Member :
                </td>
                <td>
                    @Html.DisplayFor(model => model.Member)
                </td>
            </tr>
            @if (Model.EmailId != null)
            {
                <tr>
                    <td>
                        EMail ID :
                    </td>
                    <td>
                        @Model.EmailId
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.Label("Committee Member :")
                    </td>
                    <td>
                        @if (Model.OfficeBearer == true)
                        { <text>
                            <img src="@Url.Content("~/Content/Images/tick-green.png")"  />
                            </text> }
                        else
                        { <text>
                            <img src="@Url.Content("~/Content/Images/Copy of cancel-icon.png")" /></text> }
                    </td>
                </tr>  
            }
            <tr>
                <td>
                    Member Class :
                </td>
                <td>
                    @if (Model.MemberClass != null)
                    {
                        @Model.MemberClass.Class
                    }
                    else
                    {
                        <span>&nbsp;</span>
                    }
                </td>
            </tr>
            <tr>
                <td>
                    Contact Person :
                </td>
                <td>
                    @Html.DisplayFor(model => model.ContactPerson)
                </td>
            </tr>
            <tr>
                <td>
                    Address :
                </td>
                <td>
                    @Html.DisplayFor(model => model.Address)
                </td>
            </tr>
            <tr>
                <td>
                    City :
                </td>
                <td>
                    @Html.DisplayFor(model => model.City)
                </td>
            </tr>
            <tr>
                <td>
                    PIN :
                </td>
                <td>
                    @Model.PIN
                </td>
            </tr>
            <tr>
                <td>
                    State :
                </td>
                <td>
                    @if (Model.StateID != null)
                    {
            
                        @Model.State.Name                   
                    }
                    else
                    {
                        <span>&nbsp;</span>
                    }
                </td>
            </tr>
            <tr>
                <td>
                    Country :
                </td>
                <td>
                    @if (Model.CountryCode != null)
                    {
                        @Model.Country.Name
                    }
                    else
                    {
                        <span>&nbsp;</span>
                    }
                </td>
            </tr>
            <tr>
                <td>
                    Phone No :
                </td>
                <td>
                    @Html.DisplayFor(model => model.PhoneNo)
                </td>
            </tr>
            <tr>
                <td>
                    Home Phone No :
                </td>
                <td>
                    @Html.DisplayFor(model => model.HomePhoneNo)
                </td>
            </tr>
            <tr>
                <td>
                    Office Phone No :
                </td>
                <td>
                    @Html.DisplayFor(model => model.OfficePhoneNo)
                </td>
            </tr>
            <tr>
                <td>
                    Mobile No :
                </td>
                <td>
                    @Html.DisplayFor(model => model.MobileNo)
                </td>
            </tr>
            <tr>
                <td>
                    Occupation :
                </td>
                <td>
                    @if (Model.OccupationEntity != null)
                    {
            
                        @Model.OccupationEntity.Name                   
                    }
                    else
                    {
                        <span>&nbsp;</span>
                    }
                </td>
            </tr>
            <tr>
                <td>
                    Other Occupation :
                </td>
                <td>
                    @Model.Occupation
                </td>
            </tr>
            <tr>
                <td>
                    Loan From :
                </td>
                <td>
                    @Html.DisplayFor(model => model.LoanFrom)
                </td>
            </tr>
            <tr>
                <td>
                    Loan Cleared On :
                </td>
                <td>
                    @String.Format("{0:dd-MMM-yyyy}", Model.LoanClearedOn)
                </td>
            </tr>
            <tr>
                <td>
                    Four Wheelers :
                </td>
                <td>
                    @Html.DisplayFor(model => model.FourWheelers)
                    &nbsp;&nbsp; &nbsp;&nbsp; Two Wheelers :&nbsp;&nbsp; &nbsp;&nbsp;
                    @Html.DisplayFor(model => model.TwoWheelers)
                </td>
            </tr>
            @if (IsFullAccess)
            {
                <tr>
                    <td align="center" colspan="2">
                        <input type="submit" value="Delete" class="buttton" style="width: 45px; height: 23px;" />
                    </td>
                </tr>   
            }
        </table>
    </fieldset>
    @Html.HiddenFor(m => m.SocietyMemberID)
    @Html.HiddenFor(m => m.EmailId)
    @Html.HiddenFor(m => m.OfficeBearer)
    @Html.Hidden("societySubscriptionID", (Guid)ViewBag.SocietySubscriptionID) 
}
@Html.ActionLink("Back to List", "Index", new { id = (Guid)ViewBag.SocietySubscriptionID }, new { @class = "EditDelete" })
