@model IEnumerable<CloudSocietyEntities.SocietyMember>
@{
    ViewBag.Title = "Society Member";
    ViewBag.Header = "Society Member List";
    ViewBag.SocietyNameHeader = ViewBag.SocietyHead;
    Layout = "~/Views/Shared/SocietyLayout.cshtml";    
}
<div class="buttton" style="width: 65px;">
    @Html.ActionLink("Create New", "Create", new { id = ViewBag.SocietySubscriptionID })</div>
<br />
@using (Html.BeginForm("IndexWithSearch", "SocietyMember", FormMethod.Get))
{
    @Html.ValidationSummary(false, "Following errors occurred while processing your request")
    <fieldset style="width: 750px">
        <legend>Search</legend>
        <table>
            <tr>
                <td>
                    By Name :
                </td>
                <td>
                    @Html.TextBox("Name", null, new { @class = "mediumWidth" })
                </td>
                <td align="center">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="submit" value="Search" class="buttton" style="width: 45px; height: 23px;
                        vertical-align: middle;" />
                </td>
            </tr>
        </table>
    </fieldset>
    @Html.Hidden("id", (Guid)ViewBag.SocietySubscriptionID)
}
                      <br />

@if (Model.Count() > 0)
{
    var grid = new WebGrid(Model, canPage: true, defaultSort: "FolioNo", canSort: true, rowsPerPage: 50);
    grid.Pager(WebGridPagerModes.NextPrevious);
    WebGridColumn[] columnSet = new WebGridColumn[6];
    columnSet[0] = grid.Column("", "", @<text><div style='width: 240px'>@Html.ActionLink("Edit", "Edit", new { id = item.SocietyMemberID, societySubscriptionID = ViewBag.SocietySubscriptionID, backUrl = grid.GetPageUrl(grid.PageIndex) }, new { @class = "EditDelete" })
    | @Html.ActionLink("Manage Login", "ManageLogIn", new { id = item.SocietyMemberID, societySubscriptionID = ViewBag.SocietySubscriptionID, backUrl = grid.GetPageUrl(grid.PageIndex) }, new { @class = "EditDelete" })
    | @Html.ActionLink("Committee Member", "ManageRole", new { id = item.SocietyMemberID, societySubscriptionID = ViewBag.SocietySubscriptionID, backUrl = grid.GetPageUrl(grid.PageIndex) }, new { @class = "EditDelete" })
    | @Html.ActionLink("Delete", "Delete", new { id = item.SocietyMemberID, societySubscriptionID = ViewBag.SocietySubscriptionID, backUrl = grid.GetPageUrl(grid.PageIndex) }, new { @class = "EditDelete" })
    | @Html.ActionLink("Details", "Details", new { id = item.SocietyMemberID, societySubscriptionID = ViewBag.SocietySubscriptionID, backUrl = grid.GetPageUrl(grid.PageIndex) }, new { @class = "EditDelete" })
    | @Html.ActionLink("Nominee", "Index", "SocietyMemberNominee", new { societyMemberID = item.SocietyMemberID, societySubscriptionID = ViewBag.SocietySubscriptionID, backUrl = grid.GetPageUrl(grid.PageIndex) }, new { @class = "EditDelete" })
    @*| @Html.ActionLink("Document", "Index", "SocietyMemberDocument", new { societyMemberID = item.SocietyMemberID, societySubscriptionID = ViewBag.SocietySubscriptionID, backUrl = grid.GetPageUrl(grid.PageIndex) }, new { @class = "EditDelete" })*@
    | @Html.ActionLink("Joint Holder", "Index", "SocietyMemberJointHolder", new { societyMemberID = item.SocietyMemberID, societySubscriptionID = ViewBag.SocietySubscriptionID, backUrl = grid.GetPageUrl(grid.PageIndex) }, new { @class = "EditDelete" })</div></text>);
    columnSet[1] = grid.Column("FolioNo", "Folio No", @<text><div style='width: 70px'>@item.FolioNo</div></text>, canSort: true);
    columnSet[2] = grid.Column("Member", "Name", @<text><div style='width: 230px'>@item.Member</div></text>, canSort: true);
    columnSet[3] = grid.Column("MemberClass.Class", "Class", @<text><div style='width: 80px'>@item.MemberClass.Class</div></text>, canSort: false);
    columnSet[4] = grid.Column("EmailId", "Email Id", @<text> <div style='width: 170px'>@item.EmailId</div></text>, canSort: false);
    columnSet[5] = grid.Column("MobileNo", "Mobile No", @<text><div style='width: 120px'>@(item.MobileNo ?? "")</div></text>, canSort: false);
    @grid.GetHtml(tableStyle: "table", footerStyle: "webgrid-footer", rowStyle: "TableRow", alternatingRowStyle: "altTableRow", columns: grid.Columns(columnSet))
}
else
{
    <table>
        <tr class="TableRow">
            <td>
                No Record Found.
            </td>
        </tr>
    </table>
}

@*<table border="0" cellpadding="2" cellspacing="0" class="table">
    @{
        int Count = 1;
    }
    @foreach (var item in Model)
    {
        if (Count == 1)
        {
        <tr>
            <th>
            </th>
            <th>
                Folio No
            </th>
            <th>
                Member
            </th>
            <th>
                Class
            </th>
            <th>
                Phone
            </th>
            <th>
                Mobile No
            </th>
            @*<th>
                Contact Person
            </th>
        </tr>     }  
        <tr @if ((Count % 2) == 0)
            { <text> class="TableRow" </text> }
            else
            { <text> class="altTableRow" </text>} >
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.SocietyMemberID, societySubscriptionID = ViewBag.SocietySubscriptionID }, new { @class = "EditDelete" })
                | @Html.ActionLink("Manage Login", "ManageLogIn", new { id = item.SocietyMemberID, societySubscriptionID = ViewBag.SocietySubscriptionID }, new { @class = "EditDelete" })
                | @Html.ActionLink("Committee Member", "ManageRole", new { id = item.SocietyMemberID, societySubscriptionID = ViewBag.SocietySubscriptionID }, new { @class = "EditDelete" })
                | @Html.ActionLink("Delete", "Delete", new { id = item.SocietyMemberID, societySubscriptionID = ViewBag.SocietySubscriptionID }, new { @class = "EditDelete" })
                | @Html.ActionLink("Details", "Details", new { id = item.SocietyMemberID, societySubscriptionID = ViewBag.SocietySubscriptionID }, new { @class = "EditDelete" })
                | @Html.ActionLink("Nominee", "Index", "SocietyMemberNominee", new { societyMemberID = item.SocietyMemberID, societySubscriptionID = ViewBag.SocietySubscriptionID }, new { @class = "EditDelete" })
                | @Html.ActionLink("Joint Holder", "Index", "SocietyMemberJointHolder", new { societyMemberID = item.SocietyMemberID, societySubscriptionID = ViewBag.SocietySubscriptionID }, new { @class = "EditDelete" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FolioNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member)
            </td>
            @*<td width="35px" align="center">
                @if ((bool)ViewBag.OfficeBearer == true)
                { <text>
                    <img src="@Url.Content("~/Content/Images/tick-green.png")"  />
                    </text> }
                else
                { <text>
                    <img src="@Url.Content("~/Content/Images/Copy of cancel-icon.png")" /></text> }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberClass.Class)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileNo)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.ContactPerson)
            </td>
        </tr>
           Count = Count + 1;
    }
    @if (Count == 1)
    {
        <tr class="TableRow">
            <td>
                Currently there are no Records
            </td>
        </tr> 
    }
</table>*@

<br />
<div>
    @Html.ActionLink("Back", "Menu", "SocietySubscription", new { id = ViewBag.SocietySubscriptionID }, new { @class = "EditDelete" })
</div>
