@{
    ViewBag.Title = "Society Member Menu";
    ViewBag.Header = ViewBag.MemberName;    // "Society Member Menu";
    ViewBag.SocietyNameHeader = ViewBag.SocietyHead;
    var ShowFinalReports = (bool)ViewBag.ShowFinalReports;
    Layout = "~/Views/Shared/SocietyLayout.cshtml";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script type="text/javascript">
    function hideFlashModal() {
        var modal = document.getElementById('myModal');
        modal.style.display = "none";
    }

</script>

@if(ViewBag.SubscriptionExpairDays != 0)
{
<div id="myModal" class="flash-modal">
    <!-- Modal content -->
    <div class="flash-modal-content">
        <div class="close" onclick="hideFlashModal()" >&times;</div>
        <div style="margin-top: 60px;">Your subscription is going to end after @ViewBag.SubscriptionExpairDays days..</div>
    </div>
</div>
}
@*<br />
<div class="buttton" style="width: 200px;">
    @Html.ActionLink("Member Register", "MembersRegister", "SocietyReport", new { id = ViewBag.SocietySubscriptionID })
</div>
<br />
<div class="buttton" style="width: 200px;">
    @Html.ActionLink("Member Ledger", "MemberOwnLedgerReport", "SocietyReport", new { id = ViewBag.SocietySubscriptionID })
</div>
<br />
@if (ShowFinalReports)
{
<div class="buttton" style="width: 200px;">
    @Html.ActionLink("Income & Expenditure Statement", "PDFIncomeExpenditure", "AccountingReport", new { id = ViewBag.SocietySubscriptionID })
</div>
<br />
<div class="buttton" style="width: 200px;">
    @Html.ActionLink("Schedule to Income & Expenditure Statement", "PDFSchedulToIncomeExpenditure", "AccountingReport", new { id = ViewBag.SocietySubscriptionID })
</div>
<br />
<div class="buttton" style="width: 200px;">
    @Html.ActionLink("Balance Sheet", "PDFBalanceSheet", "AccountingReport", new { id = ViewBag.SocietySubscriptionID })
</div>
<br />
<div class="buttton" style="width: 200px;">
    @Html.ActionLink("Schedule to Balance Sheet", "PDFSchedulToBalanceSheet", "AccountingReport", new { id = ViewBag.SocietySubscriptionID })
</div>
<br />
}
<div class="buttton" style="width: 200px;">
    @Html.ActionLink("Member Bills", "MemberBillIndex", "SocietyBill", new { id = ViewBag.SocietySubscriptionID })
</div>
<br />
<div class="buttton" style="width: 200px;">
    @Html.ActionLink("Member Receipts", "MemberReceiptIndex", "SocietyReceipt", new { id = ViewBag.SocietySubscriptionID })
</div>
<br />
<div class="buttton" style="width: 200px;">
    @Html.ActionLink("Change Year", "ChangeYear", "SocietySubscription", new { id = ViewBag.SocietySubscriptionID })
</div>
<br />
*@