@model CloudSocietyEntities.Society
@{
    ViewBag.Title = "Society Parameters";
    ViewBag.Header = "Society Parameters";
    ViewBag.SocietyNameHeader = ViewBag.SocietyHead;
    Layout = "~/Views/Shared/SocietyLayout.cshtml";
    bool IsFullAccess = new CloudSociety.Controllers.AppInfoController().IsFullAccess();
}
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@*==== Scripts to be added for AJAX calendar START ====*@
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/MicrosoftAjax.debug.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.ExtenderBase.BaseScripts.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.Common.Common.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.Common.DateTime.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.Animation.Animations.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.PopupExtender.PopupBehavior.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.Animation.AnimationBehavior.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.Common.Threading.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.Compat.Timer.Timer.js")"
        type="text/javascript"></script>
<script src="@Url.Content("~/Content/AjaxControlToolkit/3.0.20820.16598/3.0.20820.0/AjaxControlToolkit.Calendar.CalendarBehavior.js")"
        type="text/javascript"></script>
<script type="text/javascript">

    Sys.Application.add_init(appInit);

    function appInit() {
        $create(AjaxControlToolkit.CalendarBehavior, { format: "dd-MMM-yyyy" }, null, null, $get('RegistrationDate'));
    }   
</script>
@*==== END ====*@
@using (Html.BeginForm())
{
    @Html.ValidationSummary(false, "Following errors occurred while processing your request")   
    <fieldset style="width: 600px">
        <legend>Parameters Details</legend>
        <fieldset style="width: 550px">
            <legend>Account Integration</legend>
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        Account Posting :
                    </td>
                    <td>
                        @Html.DropDownList("AccountPosting", ViewBag.AccountPostingList as SelectList)
                        @*@Html.EditorFor(model => model.AccountPosting)*@ <span class="editor-field">@Html.ValidationMessageFor(model => model.AccountPosting)</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Member AcHead :
                    </td>
                    <td>
                        @Html.DropDownList("MemberAcHeadID", new SelectList(ViewBag.AcHeadList as System.Collections.IEnumerable, "AcHeadID", "Name"), "<- Select Member AcHead ->")
                        <span class="editor-field">@Html.ValidationMessageFor(model => model.MemberAcHeadID)</span>
                    </td>
                </tr>
               @* <tr>
                    <td>
                        Transfer Fee AcHead :
                    </td>
                    <td>
                        @Html.DropDownList("TransferFeeAcHeadID", new SelectList(ViewBag.AcHeadList as System.Collections.IEnumerable, "AcHeadID", "Name"), "<- Select Transfer Fee AcHead ->")
                        <span class="editor-field">@Html.ValidationMessageFor(model => model.TransferFeeAcHeadID)</span>
                    </td>
                </tr>*@
            </table>
        </fieldset>
        @*<fieldset style="width: 750px">
            <legend>Billing Parameters</legend>
            <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                    <td>
                        Construction Cost :
                    </td>
                    <td>
                        @Html.TextBox("ConstructionCost", Model.ConstructionCost, new { @class = "shortWidth" })
                        <span class="editor-field">@Html.ValidationMessageFor(model => model.ConstructionCost)</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Auto Trigger :
                    </td>
                    <td>
                        @Html.EditorFor(model => model.AutoTrigger)
                        <span class="editor-field">@Html.ValidationMessageFor(model => model.AutoTrigger)</span>
                    </td>
                </tr>
            </table>
        </fieldset>*@
        @if (IsFullAccess)
        {
        <center>
            <span>
                <input type="submit" value="Save" class="buttton" style="width: 45px; height: 23px;
                    vertical-align: middle;" />
            </span>
        </center>
        }
  </fieldset>      
    @Html.HiddenFor(model => model.SocietyID)
    @Html.HiddenFor(model => model.Name)
    @Html.HiddenFor(model => model.Abbreviation)
    @Html.HiddenFor(model => model.RegistrationNo)
    @Html.HiddenFor(model => model.RegistrationDate)
    @Html.HiddenFor(model => model.Address)
    @Html.HiddenFor(model => model.City)
    @Html.HiddenFor(model => model.PIN)
    @Html.HiddenFor(model => model.StateID)  
    @Html.HiddenFor(model => model.CountryCode)
    @Html.HiddenFor(model => model.ContactPerson)
    @Html.HiddenFor(model => model.Phone)
    @Html.HiddenFor(model => model.Mobile)
    @Html.HiddenFor(model => model.Builder)
    @Html.HiddenFor(model => model.Architect)
    @Html.HiddenFor(model => model.Signatory)
    @Html.HiddenFor(model => model.PAN)
    @Html.HiddenFor(model => model.TAN)
    @Html.HiddenFor(model => model.TaxRegistrationNo)
    @Html.HiddenFor(model => model.Capital)
    @Html.HiddenFor(model => model.uNoOfMembers)
    @Html.HiddenFor(model => model.UOMID)
    @Html.HiddenFor(model => model.uMinDate)
    @Html.HiddenFor(model => model.uMaxDate)
    @Html.HiddenFor(model => model.SubscriberID)
    @Html.HiddenFor(model => model.Active) 
    @Html.HiddenFor(model => model.CreatedByID)
    @Html.HiddenFor(model => model.CreatedOn)   
    @*@Html.HiddenFor(model => model.UpdatedByID)
    @Html.HiddenFor(model => model.UpdatedOn) *@     
}
<div>
    @Html.ActionLink("Back", "Menu", "SocietySubscription", new { id = ViewBag.SocietySubscriptionID }, new { @class = "EditDelete" })
</div>
