@model CloudSocietyEntities.SocietyBuildingUnit
@{
    ViewBag.Title = "Society Building Unit Details";
    ViewBag.Header = "Society Building Unit Details";
    ViewBag.SocietyNameHeader = ViewBag.SocietyHead;
    Layout = "~/Views/Shared/SocietyLayout.cshtml";
    bool IsFullAccess = new CloudSociety.Controllers.AppInfoController().IsFullAccess();
}
<fieldset style="width: 800px">
    <legend>Building Unit Details</legend>
    <table border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td>
                <fieldset style="height: 300px; width: 350px">
                    <legend>Unit Details</legend>
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td>
                                Member :
                            </td>
                            <td>
                                @ViewBag.SocietyMemberName
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Unit :
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Unit)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Unit Type :
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.UnitType.Type)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Floor No :
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.FloorNo)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Wing :
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Wing)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Carpet Area :
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.CarpetArea)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Chargeable Area :
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.ChargeableArea)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Terrace Area :
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.TerraceArea)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Start Date :
                            </td>
                            <td>
                                @String.Format("{0:dd-MMM-yyyy}", Model.StartDate)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                End Date :
                            </td>
                            <td>
                                @String.Format("{0:dd-MMM-yyyy}", Model.EndDate)
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </td>
            <td>
                <fieldset style="height: 300px; width: 350px">
                    <legend>Share Certificate Details</legend>
                    <br />
                    <table border="0" cellpadding="0" cellspacing="0">
                        <tr>
                            <td>
                                Certificate No :
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.CertificateNo)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Issue Date :
                            </td>
                            <td>
                                @String.Format("{0:dd-MMM-yyyy}", Model.IssueDate)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                No Of Shares :
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.NoOfShares)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Distinctive From :
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.DistinctiveFrom)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Distinctive To :
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.DistinctiveTo)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Value :
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.Value)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Pay Date :
                            </td>
                            <td>
                                @String.Format("{0:dd-MMM-yyyy}", Model.PayDate)
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Amount At Allotment :
                            </td>
                            <td>
                                @Html.DisplayFor(model => model.AmountAtAllotment)
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </td>
        </tr>
    </table>
</fieldset>
<div>
    @if (IsFullAccess)
            {
        @Html.ActionLink("Edit", "Edit", new { id = Model.SocietyBuildingUnitID, societySubscriptionID = ViewBag.SocietySubscriptionID }, new { @class = "EditDelete" })
        <text>|</text>
    }
    @Html.ActionLink("Back to List", "Index", new { societyBuildingID = Model.SocietyBuildingID, societySubscriptionID = ViewBag.SocietySubscriptionID }, new { @class = "EditDelete" })
</div>
